*{
  margin: 0px;
  padding: 0px;
}
html,
body {

  font-family: 'Bai Jamjuree', sans-serif;
  
  font-size: 18px;
  padding: 0px;
  margin: 0px;
  line-height: 1.6;
  color: #303030;
  font-weight: 600;

}

h1,
h2,
h3,
h4,
h5,
h6 {
  line-height: normal;
  font-weight: 700;

}

a {
  text-decoration: none;
  color: currentColor;
}

b,
strong {
  font-weight: 700;
  font-family: "Bai Jamjuree";
  
}

img {
  border: none;
  max-width: 100%;
  vertical-align: middle;
}

a img {
  display: block;
}

#page {
  background: #fff;
  max-width: 100%;
  margin: 0 auto;
  overflow: hidden;
}

.c,
.c5,
.c10,
.c15,
.c20,
.c30,
.c3,
.c2,
.c80 {
  clear: both;
}

.c {
  height: 0px;
}

.c3 {
  height: 3px;
}

.c4 {
  height: 4px;
}

.c5 {
  height: 5px;
}

.c10 {
  height: 10px;
}

.c15 {
  height: 15px;
}

.c20 {
  height: 20px;
}

.c30 {
  height: 30px;
}

.c50 {
  height: 50px;
}
.text-line-1 {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
}
.text-line-2 {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
}

.text-line-3 {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
}

.text-line-4 {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 4;
  -webkit-box-orient: vertical;
}

.text-line-5 {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 5;
  -webkit-box-orient: vertical;
}

.text-line-6 {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 6;
  -webkit-box-orient: vertical;
}

.text-line-7 {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 7;
  -webkit-box-orient: vertical;
}

.text-line-8 {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 8;
  -webkit-box-orient: vertical;
}

.text-line-10 {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 10;
  -webkit-box-orient: vertical;
}

.text-line-12 {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 12;
  -webkit-box-orient: vertical;
}


.search-pc {
  display: block;

  margin-left: 10px;
}



.submit-search-pc {
  float: left;
  color: #737373;
  font-size: 16px;
  position: absolute;
  top: 10px;
  left: 20px;
}
.icon-search {
  position: relative;
}
.search-pc
{
  position: fixed;
  top: 0px;
  right: 0px;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.603);
  z-index: 11;  
  transition: all .5s ease-in-out;
  display: none;
  line-height: 100vh;

}
.closeX
{
  color: #FFF;
  font-weight: bold;
  position: absolute;
  top: -50px;
  
}
.search-pc .kw {
  width: 100%;
  height: 35px;
  border: solid 1px #CCC;
  padding: 0px 10px;
  outline: none;
  float: left;
  color: rgba(0, 0, 0, 0.25);

  border-radius: 25px;
  background: #FFF;
}
.search-pc ::placeholder
{
  color: rgba(0, 0, 0, 0.25);
}
.search-pc .fa {
  color: rgb(25 25 25 / 70%);
}

#searchformtab
{
  position: relative;
}

#searchformtab input{

  color: #0a0a0a;
  padding: 10px 25px 10px 30px;
  height: 100px;
  max-width: 500px;
  min-width: 500px;
  border-radius: 50px;
  border:1px solid #FFF;
  background-color: #FFF;
}
.header {
  background: transparent;
 
  position: absolute;
  width: 100%;
  top: 0px;
  left: 0px;
  z-index: 11;
  width: 100%;
  transition: all .5s ease-in-out;
}

header.header-fixed {
  position: fixed;
  background: #fbfbfb;
   border-bottom: 1px solid #d3d2d2;
}
.header-fixed .nav>li {
  height: 60px;
  line-height: 60px;
}

.header-fixed .logo {
  margin-top: 0px;
 max-width: 150px;
}

.logo {
      float: left;
    padding: 15px 0;
    width: 100%;
}

.logo img,
.logo-mobile img {
  display: block;
}

.logo-mobile {
  float: left;
  margin-left: 10px;
  margin-top: 5px;
}

.menubar {

  text-align: center;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}



.nav {
  padding: 0px;
  margin: 0px;
  font-weight: normal;
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.nav>li {
  list-style: none;
  display: inline-block;
  position: relative;
  float: left;
  font-size: 16px;
  font-weight: normal;
  height: 65px;
  line-height: 65px;
  margin: 0px 2px;
}

.nav li:first-child {
  border-left: none;
}

.nav li:last-child {
  margin-right: 0;
}

.nav li:last-child a {
  padding-right: 0;
}

.nav>li>a {
  text-decoration: none;
  color: #404040;
  display: inherit;
  padding: 0px;
  padding: 0 12px;
  font-size: 17px;
  font-family: 'Bai Jamjuree', sans-serif;
  font-weight: 600;
  text-align: center;
  position: relative;
  text-transform: uppercase;
  transition:all .5s ease-in-out
}
.nav>li>a:hover{
  color: #2c9fb5;
}
.nav>li:hover>a::before{
  width: 90%;
 
}
.nav>li.active>a::before{
  width: 90%;
  
}


.nav>li>a img {
  margin-right: 8px;
}

.nav li ul {
  position: absolute;
  top: 100%;
  left: 0;
  width: 250px;
  text-align: left;
  color: #0a0a0a;
  padding: 0px;
  
  z-index: 9;
  display: none;
  font-weight: normal;
  background: #FFF;
  text-transform: initial;
  border-radius: 5px;
  border-top: 3px solid #b19044;
}

.nav li ul>li {
  width: 100%;
  list-style: none;
  float: left;
  text-align: left;
  border: none !important;
  text-transform: initial;
  line-height: normal;
  position: relative;
}

.nav li ul>li a {
  padding: 0px 10px;
  display: block;
  color: #232323;
  line-height: 18px;
  text-transform: initial;
  padding: 11px 10px;
  font-weight: 600;

}

.nav>li>ul>li>a:hover {
  color: #b19044 !important;
}

.nav li ul ul {
  left: 100%;
  top: -1px;
}


.mega-menu {
  width: 100% !important;
  left: 0px !important;

  background: rgba(0, 0, 0, 0.8) !important;
  padding: 10px 0px !important;
}

.mega-menu-item {
  padding: 10px 0px;
  line-height: initial !important;
  border-bottom: solid 1px #0a0a0a;
  padding-left: 10px;
}

.mega-menu-item a {
  color: #fff;
}

.mega-menu-item:hover {
  background: #555;
}

.mega-menu-item-link:hover {}

.mobile-bar {
  background-color: #fff;
  width: 100%;
  padding: 3px;
}

.lang-flag {
  float: right;
  /* margin-top: 2px; */
  border: none;
  margin-left: 15px;
  width: 24px;
  height: 24px;
  border-radius: 50%;
  overflow: hidden;
}

.img-poster img {
  display: block;
}

.createdate {
  color: #999;
  font-size: 12px;
}



.crumb {
  padding: 10px 0px;
  font-size: 12px;
  background-color: transparent;

}

.crumb-gray .crumb {
  background-color: #f5f5f5;
}

.crumb a {
  font-size: 14px;
  line-height: 24px;
  color: #000000;
  font-weight: 400;

  text-align: center;
}

.crumb a:first-child {
  padding-left: 0;
}

.crumb a:last-of-type {
  color: #b19044;
  padding-left: 10px;
  font-weight: 700;
} 


/*  */

.menuleft {
  padding: 0px;
  margin: 0px;
  color: #58595b;
  background: #E5F1EE;
  border: solid 1px #eee;
}
.menuleft .title{
  background: #b19044;
  color: #FFF;
  padding: 10px 15px;
  font-size: 17px;
 font-family: 'Bai Jamjuree', sans-serif;

 
}
.menuleft .fa {
  font-size: 10px; float: right;
}

.menuleft ul {
  list-style: none;
  margin: 0px;
  padding: 0px;
}

.menuleft li {
  list-style: none;
  margin: 0px;
  padding: 0px;
  border-bottom: solid 1px #eee;
}

.menuleft li:last-child {
  border-bottom: none;
}

.menuleft li a:hover {
  color: #b19044;
}

.menuleft li a {
  color: #0a0a0a;
  padding: 10px;
  width: 100%;
  display: block;
  font-size: 15px;
 font-family: 'Bai Jamjuree', sans-serif;

}

.menuleft>.actived {
  background: #eee;
}

.menuleft>.actived>a {
  color: #0a0a0a;
  font-family: "Bai Jamjuree";
}

.menuleft .actived ul {
  background: #eee;
  display: block;
}

.menuleft .actived .actived a {
  color: #244294;
}

.menuleft li ul {
  margin: 0px;
  padding: 0px;
  padding-left: 35px;
  background: #eee;
  display: none;
}

.menuleft li ul li {
  padding-left: 0px;
  list-style-type: square;
}

.menuleft li ul li a {
  border-bottom: none;
  padding: 8px 0px;
  font-size: 14px;
  color: #0a0a0a;
}

.menuleft-icon {
  padding-right: 8px;
}



.video-photo {
  padding: 4px;
  border: solid 1px #ccc;
}

.video-photo img {
  display: block;
}

#button-btt {
  position: fixed;
  right: 10px;
  bottom: 70px;
  color: #0059bd;
  background: #ccc;
  padding: 10px;
  opacity: 0.8;
  z-index: 10;
}

#button-btt a {
  color: #fff;
}

.view-detail {
  display: block;
  color: #fff;
  background: #244294;
  padding: 10px 30px;
  box-shadow: 0px 0px 3px #999;
  float: left;
}


.error {
  border: solid 1px #0a0a0a !important;
}


.search-icon{
  color: #FFF;
}
.search-mobile {
  width: 100%;
  position: relative;
  display: none;
}

.search-mobile input {
  width: 100%;
  height: 30px;
}

.m-search-icon {
  position: absolute;
  right: 10px;
  top: 6px;
  color: #ef5994;
}
.menutab {
  width: 100%;
  display: flex;
  justify-content: left;
  align-items: center;
  border-bottom: 2px solid #e4e4e4;
}

.menutab-item {

  padding: 10px 15px;
  text-align: center;
  background-color: transparent;
  color: #fff;
  font-weight: 600;
  border: 2px solid transparent;


}
.menutab-item:nth-child(1)
{
padding-left: 0px;
}
.menutab-item a {
  
  font-size: 18px;
line-height: 20px;
text-transform: uppercase;
color: #474747;
font-weight: 700;
transition: all .5s ease-in;

}



.tab-item:last-child {
  border-right: none;
}

.menutab-item:hover {
  transition: all .5s ease-in;
  border-bottom: 2px solid #2c9fb5;
}

.menutab .actived {
border-bottom: 2px solid #2c9fb5;

}



.tab-bar {
  /* background: #e1e1e1; */
  position: relative;
  display: flex;
  align-items: center;
}

.tab-bar-wrapper {
  padding-right: 40px;
}

.tab-title {
  margin: 0px;
  font-weight: 700;
  font-size: 16px;
  color: #484848;
  text-transform: uppercase;
  padding: 10px 0 26px;
  display: block;
  float: left;
}

.tab-title:nth-child(2) {
  padding: 10px 40px 26px;
}



.tab-active {
  position: relative;
  color: #ffa200;
}

.tab-active::after {
  content: "";
  position: absolute;
  width: 100%;
  bottom: 0;
  background-color: #ffa200;
  border: solid 1px #ffa200;
  left: 0;
}

.tab-bar::before {
  content: "";
  position: absolute;
  width: 100%;
  bottom: 0;
  background-color: #176078;
  border: solid 1px #176078;

}
#tabs-nav
{
  display: flex;
  align-items: center;
  justify-content: flex-end;
  padding: 0px;
}
#tabs-nav li{

  list-style: none;
  text-align: center;
  color: #b19044;
  margin: 5px;
  padding: 10px 15px;
  border-radius: 5px;
  background-color: #FFF;
}
#tabs-nav li.active a{
  color: #b19044;
 font-family: 'Bai Jamjuree', sans-serif;

}


.video-home-name {
  margin: 0px;
  padding: 0px;
  padding: 10px;
  background: #efeff0;
}

.video-home-name a {
  color: #58595b;
  font-family: Arial;
  font-size: 14px;
}

/*Modal*/
.modal-overlay {
  opacity: 0;
  filter: alpha(opacity=0);
  position: fixed;
  top: 0;
  left: 0;
  z-index: 900;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.6) !important;
}

.img-shine {
  position: relative;
  overflow: hidden;
  display: block;
}

.img-shine:after {
  content: "";
  position: absolute;
  top: -50%;
  left: -60%;
  width: 20%;
  height: 200%;
  opacity: 0;
  transform: rotate(30deg);
  background: rgba(255, 255, 255, 0.13);
  background: linear-gradient(
    to right,
    rgba(255, 255, 255, 0.13) 0%,
    rgba(255, 255, 255, 0.13) 77%,
    rgba(255, 255, 255, 0.5) 92%,
    rgba(255, 255, 255, 0) 100%
  );
}

/* Hover state - trigger effect */
.img-shine:hover:after {
  opacity: 1;
  left: 130%;
  transition-property: left, top, opacity;
  transition-duration: 0.7s, 0.7s, 0.15s;
  transition-timing-function: ease;
}

/* Active state */
.img-shine:active:after {
  opacity: 0;
}
/*---*/

.btn {
  padding: 8px 15px;
  color: #222;
  border-radius: 5px;
  text-decoration: none;
  -webkit-transition: background-color 1s ease;
  -moz-transition: background-color 1s ease;
  transition: background-color 1s ease;
 
}

.btn:hover {
  background-color: #ff7e00;
  color: #fff;
  -webkit-transition: background-color 1s ease;
  -moz-transition: background-color 1s ease;
  transition: background-color 1s ease;
}

.modal {
  position: fixed;
  z-index: 10000;
  top: 0;
  left: 0;
  visibility: hidden;
  width: 100%;
  height: 100%;
  background: #000000a6;
}

.modal.is-visible {
  visibility: visible;
}

.modal-overlay {
  position: fixed;
  z-index: 10;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  visibility: hidden;
  opacity: 0;
  transition: visibility 0s linear 0.3s, opacity 0.3s;
}

.modal.is-visible .modal-overlay {
  opacity: 1;
  visibility: visible;
  transition-delay: 0s;
}

.modal-wrapper {
  position: absolute;
  z-index: 9999;
  top: 6em;
  left: 50%;
  width: 70vw;
  transform: translate(-50%, 0px) !important;
  background-color: #fff;
  box-shadow: 0 0 1.5em rgba(0, 0, 0, 0.35);
  border-radius: 20px;
}

.modal-transition {
  transition: all 0.3s 0.12s;
  transform: translateY(-10%);
  opacity: 0;
}

.modal.is-visible .modal-transition {
  transform: translateY(0);
  opacity: 1;
}

.modal-header,
.modal-content {

  background: url(/uploaded/background/bgdangky.png);
  background-repeat:no-repeat ;
  min-height: 650px;
  border-radius: 20px;


    
}

.modal-header {
  position: relative;
  background-color: #fff;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.06);
  border-bottom: 1px solid #e8e8e8;
}

.modal-close {
  position: absolute;
  top: -15px;
  right: -16px;
  padding: 1em;
  color: #aaa;
  background: none;
  border: 0;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background: #f4f4f4;  
}

.modal-close:hover {
  color: #777;
}

.modal-heading {
  font-size: 1.125em;
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a.close {
  line-height: 1;
  font-size: 1.5px;
  position: absolute;
  top: 5%;
  right: 2%;
  text-decoration: none;
  color: #bbb;
}

a.close:hover {
  color: #222;
  -webkit-transition: color 1s ease;
  -moz-transition: color 1s ease;
  transition: color 1s ease;
}

.msgbox {
  color: #ccc;
}




.cell-cat-home {
  padding: 10px;
  background: #ebebeb;
}

.cat-home-name {
  margin: 0px;
  padding: 10px;
  font-size: 20px;
  color: #0a0a0a;
  font-family: "Bai Jamjuree";
  font-weight: normal;
  width: 100%;
  text-align: center;
  text-transform: uppercase;
}

.cat-home-name a {
  color: #414042;
}

.cat-home-intro {
  text-align: justify;
}

.cat-home-img {
  overflow: hidden;
  border-radius: 5px;
}

.btn-search-mobile {
  display: block;
  position: absolute;
  color: #1c4d99;
  top: 5px;
  right: 10px;
}



.cat-item-name {
  margin: 5px 0px;
  padding: 0px;
  font-family: "Bai Jamjuree";
  font-weight: normal;
  font-size: 20px;
  text-align: center;
}

.cat-item-name a {
  color: #0a0a0a;
}

.cat-item-name a:hover {
  color: #244294;
}


.box-left {
  padding: 20px;
  padding-bottom: 0px;
  border: solid 1px #eee;
  border-radius: 0px 0px 5px 5px;
  border-top: none;
  background: #fff;
}

.menu-mobile {
  display: block;
  float: right;
  color: #000;
  font-size: 30px;
  margin-left: auto;
}

.menu-mobile-item {
  display: block;
  float: left;
  margin-top: 5px;
  color: #fff;
  margin-left: 10px;
}


.tab-content {
  display: none;
}

.thumb-next,
.thumb-prev {
  text-align: center;
  background: #eee;
}



.txt-comment {
  width: 100%;
  height: 36px;
  border-radius: 3px;
  border: solid 1px #ccc;
  padding-left: 5px;
}
#simplePagerNav {
  display: flex;
  justify-content: center;
} 

.pagination {
  margin-bottom: 30px;
 display:flex;
 justify-content:center;
}
.page {
  display: none;
}
.pagination-item {
      text-decoration: none;
    color: #0a0a0a;
    font-size: 18px;
    font-weight: 500;
    display: inline-block;
    min-width: 50px;
    height: 50px;
    text-align: center;
    line-height: 50px;
    border-radius: 50%;
    background-color: #FFF;
    margin: 0 5px;
    border: 2px solid #b3b3b3;
  
}


.pagination-item__clicked {
  text-decoration: none;
    color: #fff;
    font-size: 18px;
    font-weight: 500;
    display: inline-block;
    min-width: 50px;
    height: 50px;
    text-align: center;
    line-height: 50px;
    border-radius: 50%;
    background-color: #2c9fb5;
    margin: 0 5px;
    border: 2px solid #b3b3b3;
  
}

.pagination-item-icon {
  font-size: 20px;
  font-weight: 500;
  color: #176078;
}




.ullist {
  height: 450px;
  overflow-y: scroll;
}

.ullist li h3 {
  padding: 0px;
  margin: 0px;
  margin-top: 5px;
  color: #244294;
  font-size: 16px;
}

.ullist li p {
  margin: 0px;
  padding: 5px 0px;
}

.ullist li {
  border-bottom: dashed 1px #ddd;
}

.ullist li .fa {
  display: block;
  float: left;
  width: 18px;
  margin-top: 2px;
}

#loadMoreProduct {
  display: block;
  background: #ddd;
  color: #244294;
  padding: 10px 20px;
  text-align: center;
  margin: 0 auto;
  border-radius: 5px;
  width: 220px;
}

.search-mobile-bar {
  float: right;
  width: 200px;
  position: relative;
  margin-right: 10px;
  margin-top: 5px;
}

.search-mobile-bar .kw {
  width: 100%;
  height: 30px;
  border: solid 1px #eee;
  padding: 0px 10px;
  outline: none;
  float: left;
  color: #0a0a0a;
  border-radius: 25px;
  background: #fff;
}

.submit-search-mobile {
  float: right;
  color: #2c9fb5;
  font-size: 14px;
  position: absolute;
  top: 8px;
  right: 25px;
}

.form-title {
  font-family: "Bai Jamjuree";
  font-size: 24px;
  font-weight: normal;

  text-align: center;
  width: 100%;
}





.sendmail__btn {
  background: #2C9FB5;
  text-align: center;
  padding: 15px;
  width: 100%;
  border: none;
  border-radius: 5px;
  color: #FFF;
  text-transform: uppercase;
  display: block;
  font-size: 18px;
      height: 50px;
}

.header-mobile {
  background: #fff;
  border-bottom: solid 2px #244294;
}

.cart-mobile {
  position: relative;
  margin-right: 10px;
  margin-top: 10px;
  width: 40px;
  float: right;
}

.cart-mobile span {
  position: absolute;
  right: -5px;
  top: -5px;
  font-size: 11px;
  background: #244294;
  color: #fff;
  display: block;
  padding: 1px 4px;
  border-radius: 50%;
}

.kw-mobile {
  width: 94%;
  height: 30px;
  border: none;
  border-radius: 20px;
  margin: 0px 10px;
  margin-bottom: 0px;
  color: #0a0a0a;
  padding-left: 5px;
}

.mobile-footer-bar {
  position: fixed;
  bottom: 0px;
  padding: 5px;
  width: 100%;
  background: #fff;
  box-shadow: 0px -1px 3px #244294;
  z-index: 9999;
}

::placeholder {
  color: #f1f2f2;
  opacity: 1;
  /* Firefox */
}


.view-more {
  font-weight: normal;
  display: inline-block;
  color: #fff;
  font-size: 14px;
  font-family: 'Muli-L';
  margin-top: 25px;
  background-color: #1d509b;
  padding: 10px 20px;
}
.line{
	border-bottom:1px solid #037c94;
}


.line-w {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 16px;
}

.line-w span {
  display: inline-block;
  margin-right: 5px;
  background: #b19044;
  background-repeat: no-repeat;
  background-size: 90% 90%;
  width: 100px;
  height: 3px;
  margin-top: 10px;
}

.line-w span:last-child {
  margin-right: 0;
}





.longPageNavigationDiv {
  padding: 10px;
  background: #eee;
  float: left;
  padding-right: 20px;
  width: 100%;
}

.longPageNavigationDiv a {
  color: #0a0a0a;
}

.longPageNavigationDiv ul {
  padding-left: 20px;
}

.longPageNavigationDiv ul li {
  list-style: none;
  padding: 2px 0px;
}

.longPageNavigationDiv ul .toc-heading3 {
  padding-left: 20px;
}

.form-group {
  padding: 10px 0px;
  border-bottom: dotted 1px #ccc;
}
.btndangnhap
{
  background-color: #2C9FB5;
color:#FFF;
padding: 8px 15px;
border-radius: 3px;
font-size: 18px;
}




/* home */
  .slidehome{
    position: relative;
  }
  .slidehome-content{
    position: absolute;
    top:50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    height: auto;
    color: #303030;
    animation: btom-to-top 3s ;
    animation-iteration-count: 1;
    animation-direction: reverse;
	font-size: 20px;
	color: #303030;
	font-weight: 500;
	font-family: "Bai Jamjuree";
  }
  .search-form {
    position: relative;
    z-index: 11;
    padding: 30px;
    background: #FFF;
    margin-top: -40px;
    border-radius: 20px;
    box-shadow: 1px 5px 9px #0000002e;
}
 .btn-xemthem
 {
  text-align: center;
  padding:10px 25px;


  background-color: #2C9FB5;
  font-size: 20px;
line-height: 20px;
color: #ffffff;
font-weight: 500;
font-family: "Bai Jamjuree";
 }
 .btn-all
 {
	 text-align: center;
  padding:10px 25px;



  font-size: 20px;
line-height: 20px;
color: #030303;
border:1px solid #2C9FB5;
font-weight: 500;
font-family: "Bai Jamjuree";
 }

.slidehome-content h2{
  font-size: 38px;
  text-transform: uppercase;
  color: #2C9FB5;
  font-weight: 700;
  font-family: "Bai Jamjuree";
}

.search-form input::placeholder
{
  color: #909090;
  font-family: "Bai Jamjuree";
  font-size:18px;
  height:50px;
}
.search-form input{
border:none;
outline: none;
font-weight: 500;
margin-bottom: 0px;
padding-left:35px;

  font-family: "Bai Jamjuree";

}
.search-form .search-icon--input{
	color:#909090;
}
.search-form select{
  outline: none;
  width: 100%;
  font-family: "Bai Jamjuree";
  font-weight: 500;
  height: 50px;
  border-radius: 5px;
  border:1px solid #a0a0a0;
  font-size:20px;
}
input:focus-visible, select:focus-visible{
  border:1px solid #a0a0a0
}
.btn-search
{
  background: #2c9fb5;
  color: #FFF;
  width: 100%;
  padding: 12px;
max-width: 200px;
  height: 50px;
  text-align: center;
  font-size:20px;
  line-height: 1.4;
}

 
  .homecat-title{
	font-size: 45px;
	text-transform: uppercase;
	color: #007b93;
	font-weight: 700;
	font-family: "Montserrat";
	text-align: left;
    position: relative;
    text-transform: uppercase;
    margin: 0px;
  }
 
  .homecat-intro
  {
    margin: auto;
    text-align: center;
    max-width: 800px;
  }
  .pagecat-title{
    text-align: left;
    color: #282828;
   font-family: 'Bai Jamjuree', sans-serif;


    position: relative;
    font-size: 35px;
    text-transform: uppercase;
    margin: 0px;
    line-height: 1.3;
  }
 

 
 
  .homecat-title a {
    color: currentColor;
  }
  

.menu-footer {
  border-top: solid 1px #ccc;
  border-bottom: solid 1px #ccc;
  padding: 10px 0px;
}

.menu-footer a {
  font-size: 13px;
  color: #FFF;
  margin-right: 20px;
  text-decoration: none;
}

.footer {
  background-color: #494949;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  background-position: center center;
  color: #FFF;
}


.footer a {
  color: #FFF;
}
.text-center{
  margin: auto;
  text-align: center;
}
.footer-title {
  font-size: 17px;
  color: #FFF;
  font-family: 'Bai Jamjuree';

  padding-bottom: 10px;
}

.footer-title .i {
  float: right;
  margin-top: 3px;
  font-size: 14px;
  display: none;
  transition: 0.5s;
  color: #FFF;
}

.footer-block {
  padding-left: 0px;
  margin-top: 20px;
}
.footer-logo
{
  padding: 30px 0px;
}
.footer-block .info
{
 
    display: flex;
    align-items: center;
    color: #FFF;
    font-size: 18px;
    /* margin-bottom: 10px; */
    line-height: 2;
}
.footer-block .info i
{
  margin-right: 10px;
}
.footer-social
{
  display: flex;
  align-items: center;
  justify-content: center;

}
.footer-social li{
  width: 40px;
  height: 40px;
  border-radius: 50%;
  text-align: center;
  border: 1px solid #FFF;
  line-height: 40px;
  margin: 10px;
}
.fanpage img
{
  border-radius:  20px 0px;
  float: left;
  margin-bottom: 15px;
  margin-right: 10px;
}
.fanpage {
  width: 100%;
  clear: both;
  margin-bottom: 0px;
}
.menuboxfooter
{
  padding: 0px;
  list-style-type: none;
  font-size:20px
}
.menuboxfooter li{
  margin-bottom: 5px;
}
.menuboxfooter a{
  color: #FFF;
  transition: all .5s ease-in;
}
.menuboxfooter a:hover{
  color: #b19044;
}
.footer-copyright {
  color: #fff;
  font-size: 14px;
  text-align: left;
  line-height: 40px;
  border-top: 1px solid #2C9FB5;
}
.txt-copy
{
	
	text-align:center;
}

.star-rate{
  background: url(/images/star-rate.png) right top no-repeat;
  height: 17px;
  width: 100%;

}

.rate1 .rate2{
  background-position-y: -38px;
}
.rate3{
  background-position-y: -55px;
}
.rate4{
  background-position-y: -72px;
}
.rate5{
  background-position-y: -90px;
}

/* home */

.homeservice-wrapper, .homesearch-wrapper
{
  background-color: #f1f2f2;
}
.homeservice-item
{
  display: flex;
  padding: 15px 10px;
  background: #FFF;
  justify-content:space-between;
  border-radius: 20px;
  transition: all .5s ease;
  margin-bottom: 30px;
  border: 1px solid #f1f2f2;
}
.homeservice-item-image img{
  margin: auto;
}
.homeservice-item-name
{
  font-size: 26px;
  transition: all .5s ease-in-out;
  min-height:65px;
}
.icon-price
{
  float: left;
 font-size:24px
}
.price {
 
  font-weight: 600;
  float: left;
}
.price span{
  font-size: 22px;
}
.homeservice-item i{
  color: #2C9FB5;
  
}
.homeservice-item:hover{
  box-shadow: 0px 0px 10px #00000054;
}
.homeservice-item:hover .homeservice-item-name
{
  color: #2C9FB5;
}
.info-image {
  background: #fff;
  /* padding: 8px; */
}
.homenumber-wrapper{
  background-color: #2C9FB5;
  color: #FFF;
}
.homenumber-wrapper .homecat-title{
  color: #FFF;
}
.homenumber-item .count
{
  font-size: 40px;
  font-weight: 700;
}
.homenumber-item
{
  border:1px solid #ffffff8a;
  transition: all .5s ease-in;
  padding: 15px;
  border-radius: 5px;
  margin-bottom: 30px;
}
.homenumber-item:hover{
  background-color: #FFF;
}
.homenumber-item:hover .count{
  color: #2C9FB5;
}
.homenumber-item:hover .intro{
  color: #303030;
}

.homenews-wrapper
{
  position: relative;
}
.homenews-item__name
{

  font-size: 22px;
color: #3b3b3b;
font-weight: 600;

  padding: 15px 0px;
}
.homenews-item__content i{
  margin-bottom: 10px;
}
.homenews-item img{
  width: 100%;
 
}
.homenews-button-prev
{
  width: 40px;
    height: 40px;
    position: absolute;
    left: -65px;
    top: 50%;
    z-index: 2;
    text-align: center;
    line-height: 40px;
    background: #2c9fb5;
    color: #FFF;
    border-radius: 50%;
}
.homenews-button-next
{
  width: 40px;
    height: 40px;
    position: absolute;
    right: -65px;
    top: 50%;
    z-index: 2;
    text-align: center;
    line-height: 40px;
    background: #2c9fb5;
    color: #FFF;
    border-radius: 50%;
}
.homenews-item img{
  border-radius: 5px;
}
.homepartner-wrapper
{
  background-color: #FFF;
}


.swiper-galleries img
{
width: 100%;
border-radius: 0px  ;
}
.swiper-galleries
{
  position: relative;
}
.swiper-galleries .swiper-galleries-next
{
  position: absolute;
  width: 35px;
  height: 35px;
  border-radius: 50%;
  right: 25%;
  top: 50%;
  z-index: 2;
  background-color: #f1f2f2;
  text-align: center;
 line-height: 35px;
}
.swiper-galleries .swiper-galleries-prev
{
  position: absolute;
  width: 35px;
  height: 35px;
  border-radius: 50%;
  left: 25%;
  top: 50%;
  z-index: 2;
  background-color: #f1f2f2;
  text-align: center;
 line-height: 35px;
}
.swiper-galleries .swiper-slide
{
  opacity: .7;
}
.swiper-galleries  .swiper-slide.swiper-slide-active
{
  opacity: 1;
}
.booking-wrapper
{
  background: url(/uploaded/background/bgdangkythamquan.png);
  background-size: 100% 100%;
  background-position: center center;
}
form input {
  width: 100%;
  margin-bottom: 10px;
  height: 50px;
  font-size: 16px;
  padding-left: 10px;
  border-radius: 5px;
  border:1px solid #2c9fb5;
}
.item-title
{
  font-size: 24px;
  text-align: center;
}
.booking-wrapper .item{
  padding: 30px;
  background-color: #f3f3f3da;
}
.item-title
{
 font-family: 'Bai Jamjuree', sans-serif;

  text-transform: uppercase;
  text-align: left;
}
input::placeholder, textarea::placeholder{
  color: #8f8f8f;
  font-family: Bai Jamjuree;
}
.sendmail__input::placeholder
{
	 color: #303030;
  font-family: Bai Jamjuree;
      text-align: center;
	  
}
form textarea
{
  width: 100%;
  margin-bottom: 10px;
  font-family: Bai Jamjuree;
  font-size: 16px;
  padding: 10px;
  border: 1px solid #d9d9d9;
  border-radius: 5px;
}
.btn-dangky 
{
  background-color: #2C9FB5;
  color: #FFF;
  font-family: Bai Jamjuree;
  transition: all .5s ease-in;
}
.btn-dangky:hover{
  background-color: #AA8533;
  transition: all .5s ease-in;
}
.search-item select {
  padding-left: 40px;
  padding-right: 10px;
}
.search-item

{
  position: relative;
}
.search-icon{
  position: absolute;

  left: 11px;
  
  top:50%;
  transform: translate(0px, -50%);
  color:#2C9FB5;
  z-index: 11;
  font-size: 18px;
  padding-right: 2px;
}
.countnumber
{
  font-size: 20px;
  font-weight: 700;
  text-transform: uppercase;
  color:#2C9FB5
}
.sort-select
{
  border: 1px solid #007b93;
  padding: 10px;
  border-radius: 5px;
  max-width: 300px;
  float: right;
}
.service-item
{
  padding: 10px;
  border-radius: 5px;
  background:#FFF;
  margin-bottom: 30px;
  transition: all .5s ease-in-out;

}
.service-item h3{
  padding: 10px 0px;
  transition: all .5s ease-in-out;
}
.service-item:hover h3{
  color: #037c94;
}
.service-item:hover{
  box-shadow: 0px 0px 10px #0a0a0a93;
}
.service-item img{
  margin: auto;
}
.service-item td img{
    max-width: 20px;
    padding-right: 5px
  
}
.service-item-top
{
  display: flex;
}
.service-item i{
  color: #007b93;
}
.serviceitem-content
{
  display: flex;
  justify-content: space-between;
  padding-right:30px;
  padding-top:10px;
}
.sericeitem-right .star-rate {
    float: left;
    margin-top: 20px;
	margin-right:20px;
}
.serviceitem-left{
  width: 65%;
}
.sericeitem-right{
  width: 35%;
  padding-top:30px;
  display: flex;
  justify-content: flex-end;
     align-items: end;
  
}
.right-top {
    align-items: start;
    padding-top: 0px;
}

.serviceitem-line
{
  display: flex;
}
.serviceitem-line span
{

  min-width: 150px;
  
}
.service-price
{
  font-size: 16px;
  font-weight: 600;
}
.serviceitem-content i{
  width: 20px;
}
.upload 
{
  padding: 10px 17px;
  margin-right: 10px;
  background: #2c9fb5;
  color: #FFF;
  border-radius: 5px;
  transition: all .5s ease-in;
  height:50px;
}
.upload:hover{
  box-shadow: 1px 5px 7px #1010106b;
  background-color: #FF7E00;
}
.upload a i{
  color: #FFF;
}
.save
{
  padding: 10px;
  background-color: #e4e4e4;
  text-align: center;
  border-radius: 5px;
  margin-right: 10px;
  min-width:50px;
  height:50px;
}
.serviceitem-left h3, .productitem-name{
  font-size: 30px;
}
.service-top
{
  margin-top:-150px;
  padding: 30px;
  background: #FFF;
  position: relative;
  border-radius: 5px;
  box-shadow: 0px 0px 14px #1010106b;
} 
.servicename
{
  color:#007b93;
  text-transform: uppercase;
  font-size: 20px;
}
.serviceitem-left i{
  color: #007b93;
}
.service-info--ico
{
  float: left;
}
.service-info--price{
  float: left;
  padding-left: 10px;
}
.serviceinfo-list
{
  display: flex;
  flex-wrap: wrap;
}
.serviceinfo--item
{
  width: 50%;
  margin-top: 10px;
}
.service-info td img
{
  width: 23px;
  padding-right: 5px;
  
  object-fit: scale-down;
}
/* .service-info tr td:nth-child(1) {
    max-width: 17px;
} */
.serviceitem-left td{
  padding-right: 10px;
}
.save i{
  color: #00B9FF;
}
.tuvan
{
  padding: 10px 15px;
  margin-right: 10px;
  background-color: #FF7E00;
  border-radius: 5px;
  color: #FFF;
  transition: all .5s ease-in-out;
}
.tuvan:hover{
  background: #00B9FF;
}
.share
{
  padding: 5px 15px;
  background-color: #FFFF;
  border:1px solid #00B9FF;
  border-radius: 5px;
  font-size: 20px;
}
.service-content
{
  background-color: #FFF;
  box-shadow: 0px 0px 10px #00000067;
  border-radius: 5px;
  padding: 50px 70px;
}
.title-page
{
  text-transform: uppercase;
  font-size: 20px;
  color: #037c94;
  line-height: 1.4;
  font-weight:600;
}
.galleries-service
{
  position: relative;
}
.hot img
{
  max-height: 50px;
  max-width: 50px;
}
.product-right
{
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-end;
}
.time {
  text-align: center;
  padding: 5px 25px;
  font-weight:700;
}
.product-content
{
  display: flex;
  justify-content:space-between;
}
.productitem-left
{
  width: 65%;
}
.product-right{
  width: 35%;
}
.productitem-line span
{
  width: 180px  ;
}
.product-item{
  padding: 10px;
  border-radius: 5px;
  background: #FFF;
  margin-bottom: 30px;
  transition: all .5s ease-in-out;
}
.product-item:hover{
  box-shadow: 0px 0px 10px #0a0a0a93;
}
.product-item h3{
 /* font-size: 20px;*/
}
.product-item:hover h3 {
  color: #037c94;
}

.product-content td{
  padding-right: 10px;
}
.product-content td img {
  width: 20px;
  padding-right: 5px;
}
.product-content td img {
    max-width: 20px;
    padding-right: 5px;
}
.product-info td:nth-child(1)
{
	width:23px;
	
}
.product-info td img
{
	width:20px;
	padding-right:3px;
}
.product-info table
{
	padding:10px
}
#partner .swiper-slide img {
    max-height: 45px;
}
.select {
  cursor:pointer;
  display:inline-block;
  position:relative;
   font-family: Bai Jamjuree;
  color:#303030;
  border-radius: 5px;
  font-size:18px;
  width:100%
}
.styledSelect {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: white;
  padding: 0 35px;
  border: 1px solid #c8c8c8;
  border-radius: 5px;
  line-height: 50px;
  font-size: 17px;
}
.styledSelect:after {
  content: "";
  width: 10px;
  height: 10px;
  border: 0px solid transparent;
  /* border-color: black transparent transparent transparent; */
  position: absolute;
  top: 17px;
  right: 15px;
  border-top: 2px solid #333;
  border-right: 2px solid #333;
  transform: rotate(135deg);
}
.styledSelect:active, .styledSelect.active {
  background-color:#FFF ;
}
.options {
  display:none;
  position:absolute;
  top:100%;
  right:0;
  left:0;
  z-index:999;
  margin:0 0;
  padding:0 0;
  list-style:none;
  border:1px solid #ccc;
  background-color:white;
  -webkit-box-shadow:0 1px 2px rgba(0, 0, 0, 0.2);
  -moz-box-shadow:0 1px 2px rgba(0, 0, 0, 0.2);
  box-shadow:0 1px 2px rgba(0, 0, 0, 0.2);
}
.options li {

  margin:0 0;
  padding: 5px 10px;
}
.options li:hover {
  background-color:#2c9fb5;
  color:white;
}
.news-button-prev
{
  width: 40px;
    height: 40px;
    position: absolute;
    left: -25px;
    top: 45%;
    z-index: 2;
    text-align: center;
    line-height: 40px;
    background: #2c9fb5;
    color: #FFF;
    border-radius: 50%;
}
.news-button-next
{
  width: 40px;
    height: 40px;
    position: absolute;
    right: -25px;
    top: 45%;
    z-index: 2;
    text-align: center;
    line-height: 40px;
    background: #2c9fb5;
    color: #FFF;
    border-radius: 50%;
}
.product-info tr, .service-info tr{
	padding-bottom: 10px;
    display: table;
}
.service-content .title-page{
	font-size:30px
}
.service-content ul{
	position:relative;
	padding-left:40px;
	
	
}
::marker {
    color: #2c9fb5;
}

.btn-seealll {

    padding: 15px 30px;
    border: 2px solid;
    border-radius: 5px;
    color: #2c9fb5;
    font-size: 20px;
    font-weight: 600;
	transition:all .5s ease-in-out;
	text-align:center;
}
.btn-seealll:hover{
	color:#FFF;
	background:#2c9fb5;
}
.user-header
{
  background: #2C9FB5;
  color:#FFF
}
.user-header .menubar ul li a{
  color: #FFF;
  
}
/* .user-header .menubar ul li
{
  line-height: 95px;
} */
.user-header .menubar
{
  height: 95px;
}


.user
{
display: flex;
align-items: center;
}
.user .user-avt{
  width: 60px;
  height: 60px;
  border-radius: 50%;
  
}
.user-content-left
{
  position: fixed;
  top:0px;
  left: 0px;
  width: 100%;
  height: auto;
  background-color: #FFF;
  box-shadow: 0px 0px 20px 6px #00000030;
  padding:30px 00px;
  max-width: 355px;

}
.user .user-avt img{
  width: 60px;
  height: 60px;
  border-radius: 50%;
  object-fit: cover;
}
.user-info
{
  margin-left: 10px;
  line-height: 1;
}
.user-name
{
  text-transform: uppercase;
  font-size: 20px;
}
.logo-user
{
  width: 100%;
  text-align: center;
  padding: 0px 40px;
}
.logo-user img{
  margin: auto;
  max-width: 210px;
 
}
.user-left
{
  text-align: center;
  margin: auto;
  padding: 0px 40px;
}
.user-left img{
  width: 187px;
  height:187px;
  object-fit: cover;
  border-radius: 50%;
  border: 3px solid #2c9fb5;
}
.user-left__name
{
  font-size: 22px;
  color: #148ba2;
  font-weight: 700;

}
.user-left__email{
  font-size: 20px;
color: #3e3e3e;
font-weight: 500;
line-height: 1;

}
.btn-upload
{
  text-align: center;
  padding: 10px;
  background:  #ededed;
  border-radius: 5px;
  max-width: 120px;
  margin: auto;
  color: #5e5d5d;
}
.user-menuleft
{
  list-style-type: none;
  padding: 0px 40px;
}
.user-menuleft li{
  margin-bottom: 20px;
}
.user-menuleft img{
  width: 40px;
  float: left;
  padding-right: 10px;

}
.user-menuleft a{
  font-weight: 700px;
}
.user-content-right{
  background-color:#FFF;

  margin: 30px;
  padding: 50px;
  box-shadow: 0px 0px 15px #c8cacd;
  border-radius: 5px;
}
.user-title
{
  font-size: 26px;
}
.user-title img{
  width: 30px;
  margin-right: 5px;
}
.info-form  
{
  max-width: 1150px;
  width: 100%;
  margin: auto;
}
.flex-flex-start
{
  justify-content: flex-start!important;
}
.info-form .title-frm-reg{
  text-align: right;
  padding-right: 30px;
  font-size: 20px;
}
input[type="radio"]
{
  appearance: none;
  border: #2c9fb5;
  float: left;
  max-width: 30px;
}

input[type="radio"] + label
{
  cursor: pointer;
  position: relative;
  padding-left: 30px;
  line-height: 20px;
  font-size: 20px;
}

input[type="radio"] + label::before
{
  content: "";
  display: inline-block;
  width: 20px;
  aspect-ratio: 1;
  border: 1px solid #2c9fb5;
  border-radius: 50%;
  position: absolute;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
  opacity: 1;
  transition: all 0.3s;
}

input[type="radio"] + label::after
{
  content: "";
  display: inline-block;
  width: 10px;
  aspect-ratio: 1;
  border: 1px solid #2c9fb5;
  background: #2c9fb5;
  border-radius: 50%;
  position: absolute;
  left: 5px;
  top: 50%;
  transform: translateY(-50%);
  opacity: 0;
  transition: all 0.3s;
}

input[type="radio"]:checked + label::after
{
  opacity: 1;
}
.cell-lable
{
  width: 225px!important;
}
.cell-1-3-adderss {
  max-width: 270px;
  width: 25%!important;
  margin: 0px 10px 0px 0px
}
.table-list th{
  background: #2C9FB5;
  padding: 10px;
  text-transform: uppercase;
  color: #FFF;
  font-size: 20px;
  border-right: 1px solid #FFF;
  font-weight: 600;
}
.table-list td
{
  padding: 10px;
  border-bottom: 1px solid #FFF;
  background-color: #E9F5F7;
  border-right: 1px solid #FFF;
  outline: none;
  text-align: center;
}
.table-col1-hocvan, .table-col2-hocvan,.table-col2
{
 width: 155px;

}
.table-list td label{
  padding-right: 30px;
}
.table-col3-chungchi, .table-col1-chungchi
{
  width: 40%;
 
}
.table-col2-chungchi{
  width: 20%;
}
.table-col1-ngoaingu, .table-col3-ngoaingu
{
  max-width: 500px;
  width: 40%;
}
.nguyenvong-form .select{
  outline: none;
    width: 100%;
    font-family: "Bai Jamjuree";
    font-weight: 500;
    height: 60px;
    border-radius: 5px;
    border: 1px solid #2c9fb5;
    font-size: 20px;
    margin-bottom: 10px;

}
.nguyenvong-form .styledSelect 
{
  border: none;
  padding: 5px 20px;
  font-size: 20px;
  font-weight: 600;
}
.nguyenvong-form{
  max-width: 1100px;
  margin: auto;
}
.nguyenvong-form .title-frm-reg{
  text-align: right;
  padding-right: 30px;
  font-size: 20px;
}
.nguyenvong-form  .styledSelect:after
{
  border-top: 2px solid #2c9fb5;
  border-right: 2px solid #2c9fb5;
}
.nguyenvong-form textarea
{
  border: 2px solid #2c9fb5;
}
.btn-saved
{

  border-radius:5px;
  background-color: #2c9fb5;
  padding: 15px 30px;
  font-size: 20px;
  text-transform: uppercase;
  font-weight: 700;
  color: #FFF;
  margin-right: 10px;
  border:1px solid #2c9fb5;
}
.btn-cancel
{

  border-radius:5px;
  background-color: #fff;
  padding: 15px 30px;
  font-size: 20px;
  text-transform: uppercase;
  font-weight: 700;
  color: #4f4f4f;
  
  border:1px solid #4f4f4f
}
.coppy-right-user
{
  padding-left: 30px;
  padding-bottom: 20px;
  color: #4f4f4f;
}


.camnang-wrapper .grid-container {
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(2, 200px);
  grid-gap: 30px;
  display: grid;
}
.camnang-item:nth-child(1) {
  grid-column: 1/3;
  grid-row: 1/3;
}
 .camnang-item:nth-child(1) img{
  height: 430px;
  width: 100%;
  object-fit: cover;
}
.camnang-item img{
  height: 200px;
}
.camnang-item {
  position: relative;
}
 .camnang-item:nth-child(1) a.img-shine::before {
  content: "";
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background: linear-gradient(0deg, #005585, transparent);
  z-index: 1;
  transition: all 0.5s ease-in-out;
}
 .camnang-item__name {
  position: absolute;
  bottom: 15px;
  left: 0;
  color: #fff;
  font-weight: 600;
  z-index: 3;
  width: 100%;
  transition: all 0.3s ease-in;
  font-size: 18px;
  padding: 0px 15px;
}
.camnang-item:nth-child(1)  .camnang-item__name
{
bottom: 40px;
font-size: 24px;
padding: 0px 30px;
}
.news-item__name
{
  font-size: 20px;
  color: #4b4b4b;
  margin-bottom: 15px;
  margin-top: 20px;
  transition: all .5s ease-in-out;
}
.news-item
{
  margin-bottom: 30px;
}
.news-item  img{
  min-height: 280px;
}
.title-news
{
  font-size: 50px;
}
.news-other ul
{
  padding-left: 30px;
}
.news-other ul li{
  margin-bottom: 10px;
}
.featured-item
{
  position: relative;
  margin-bottom: 40px;
}
.featured-item-img
{
  border-radius: 5px;
}
.featured-item-name
{
  position: absolute;
  bottom: 15px;
  padding: 15px 15px 0px 15px;
  color: #FFF;
  width: 100%;
  font-size: 20px;
}
.title-left
{
  position: relative;
  text-align: left;
  font-size: 26px;
  text-transform: uppercase;
color: #f4f4f4;
font-weight: 700;
background: #2c9fb5;
border-radius: 5px;
padding: 20px 30px;

}
.title-left::before{
  content: "";
  position: absolute;
  width: 24px;
  height: 24px;
  background: #2C9FB5;
  left: 30px;
  bottom: -12px;
  transform: rotate(45deg);
}

.service-item-left
{
  display: flex;
  border-bottom:1px solid #cdcdcd;
 padding: 30px 0px;
}
.service-item-left__name
{
  font-size: 22px;
}
.service-item-left:nth-last-child(1)
{
  border-bottom: none;
}
.share-social
{
  display: flex;
  justify-content: flex-end;
}
.btn-share
{
  padding: 10px 20px;
  font-size: 28px;
  border: 1px solid #2C9FB5;
  border-radius: 5px;
  color: #2C9FB5;
}
.title-dangky{
  font-size: 40px;
  color: #2c9fb5;
  z-index: 22;
}

.dangky-modal
{
  color: #FFF;
  font-size: 20px;
}
.dangky-left{
  position: relative;
  height: 100%;
    min-height: 540px;
    padding: 50px 30px;
  
}
.dangky-left-bottom
{
  position: absolute;
  bottom: 50px;
  left: 0px;
  z-index: 1000000;
  text-align: center;
  width: 100%;
}
.btn-dangnhapngay
{
  padding: 15px 30px;
  background: #2C9FB5;
  border-radius: 5px;
  text-transform: uppercase;
}
.frm-dangky {
  color: #404040;
  padding: 50px 50px 50px 70px;
}
.frm-dangky input::placeholder
{
  color: 303030;
}
.cell-dangky-1-2
{
  width: 30%;
  float: left;
}
.cell-dangky-2-3
{
  width: 43%;
  float: left;
}
.cell-dangky-3-4
{
  width: 27%;
  float: left;
}
.login-social
{
  background: #f3f2f2;
  height: 100%;
}
.login-social
{
  color: #404040;
  text-align: center;
  height: 100%;
  margin: auto;
  display: flex;
  width: 100%;
  align-items: center;
  flex-wrap: wrap;
  padding: 50px;
  border-radius: 0px 20px 20px 0px;
}
.btn-dangkymail
{
  padding: 15px 30px;
  background: #FFF;
  width: 100%;
  margin-bottom: 30px;
  box-shadow: 1px 0px 15px #5757575b;
  text-align: left;
  border-radius: 5px;
}
.btn-dangkymail img, .btn-dangkyfb img{
  float: left;
  margin-right: 15px;
}
.btn-dangkyfb
{
  padding: 15px 30px;
  background: #FFF;
  width: 100%;
  margin-bottom: 30px;
  box-shadow: 1px 0px 15px #5757575b;
  text-align: left;
  border-radius: 5px;
}