<!doctype html>
<html lang="vi" xmlns="http://www.w3.org/1999/xhtml"  xml:lang="vi">


    <head>
        <meta charset="utf-8" />
        <title>Best Design - Chuyên thiết kế thi công nội thất đẹp, giá rẻ</title>
        <meta name="viewport"
              content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=2.0, user-scalable=yes" />
        <meta name="theme-color" content="#0099ff" />

        <meta http-equiv="Content-Language" content="VN" />
        <meta name="description" content="Best Design - Chuyên thiết kế thi công nội thất đẹp, giá rẻ" />
        <meta name="keywords" content="" />
        <meta property="og:url" name="og:url" content="https://bestdesign.24h.co/" data-app/>
        <meta property="og:type" name="og:type" content="website" data-app/>
        <meta property="og:description" name="og:description" content="Best Design - Chuyên thiết kế thi công nội thất đẹp, giá rẻ" data-app/>
        <meta property="og:title" name="og:title" content="Best Design - Chuyên thiết kế thi công nội thất đẹp, giá rẻ" data-app/>

        <meta property="og:image" name="og:image" content="https://bestdesign.24h.co/uploaded/logo/logo.png" data-app>
        <meta property="og:image:alt" name="og:image:alt" content="https://bestdesign.24h.co/uploaded/logo/logo.png" data-app>
        <link href="/favicon.ico" rel="shortcut icon" />        

     
        <link rel="stylesheet" type="text/css" href="/css/style.css" />

        <link rel="stylesheet" type="text/css" href="/css/grid.css" />
        <link rel="stylesheet" type="text/css" href="/css/responsive.css" />
        <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/Swiper/4.2.2/css/swiper.min.css" />

        <link rel="stylesheet" type="text/css" href="/css/font.css" />
        <link rel="stylesheet" type="text/css" href="/css/fontawesome-5.12.1/css/all.min.css" />
        <link rel="stylesheet" type="text/css" href="/css/jquery.mmenu.all.css" />
        <link rel="stylesheet" href="/css/jquery-ui.css" />

        <script src="/js/jquery-1.10.1.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/Swiper/4.2.2/js/swiper.min.js"></script>

        <script src="/js/script.js"></script>

        <script src="/js/jquery-ui.min.js"></script>
        <script src="/js/jquery.form.min.js"></script>
        <script src="/js/jquery.mmenu.min.all.js"></script>

        

        

    </head>    


<body>



<div id="page">



    <!-- header pc -->
    <header class="header hide-on-pad hide-on-tab">
      <div class="grid">
        
        <div class="flex-container align-center">
            <div class="cell-1-5">
              <div class="logo">
                <a href="/">
                  <img src="/uploaded/logo/logo.png" alt="LogoSite"
                    style="max-width:100%; margin:0 auto"></a>
                </div>
            </div>
           <div class="cell-4-5">
            <div class="menubar">
              <ul class="nav  hide-on-mobile">
              <li class=" active "> <a href="/" class=""><span style="background-image:url()">việc làm siêu tốc       
              </li>

              <li class=" "> <a href="/" class=""><span style="background-image:url()"> Du học                       </span></a>
                  <ul class="submnu1" style="display: none;">
                    <li class=""><a href="/phat-trien-dien-nang/">Về chúng tôi</a>
                    </li>
                    <li class=""><a href="/dau-tu-bat-dong-san/">Lịch sử hình thành</a>
                   
                    </li>
                </ul>
              </li>
              
              <li class=" "> <a href="/linh-vuc-hoat-dong/" class=""><span style="background-image:url()">  Nhà tuyển dụng          </span></a>
              </span></a>
              
              
              
              
                  <ul class="submnu1" style="display: none;">
                      <li class=""><a href="/phat-trien-dien-nang/">Thi công nội thất chung cư</a>
                      </li>
                      <li class=""><a href="/dau-tu-bat-dong-san/">Thi công nội thất nhà phố </a>
                      </li>
                      <li class=""><a href="/dich-vu-khach-san/">Thi công nội thất biệt thự</a>
                      </li>
                      <li class=""><a href="/dich-vu-khach-san/">Thi công nội thất văn phòng</a>
                      </li>
                  </ul>
                  
                  
                  
              </li>
              <li class=""> <a href="/cong-ty-thanh-vien/" class=""><span style="background-image:url()">      GIỚI THIỆU             </span></a>       
                  
               
              </li>
              <li class=" "> <a href="/tin-tuc-su-kien/" class=""><span style="background-image:url()">  Cẩm nang      </span></a>
              
              
              </li>
            
            
              </ul>
              <div class="btn btndangnhap">
                  <a href="#">Đăng nhập</a> &#10072; <a href="#">Đăng ký</a>
              </div>
           </div>


           

          </div>
        </div>
      <div class="c"></div>
    </header>
    <!-- end header pc -->
    <header class="header hide-on-pc error">
      <div class="mobile-bar hide-on-pc">
        <div class="grid">
            <div class="flex-container align-center">
                <div class="cell-1-3">
                   
                    <a class="menu-mobile" href="#menu">
                      <i class="fas fa-bars"></i>
                   </a>
                   
                </div>
                <div class="cell-1-3">
                 
                  <div class="logo">
                      <a href="/">
                        <img src="/uploaded/logo/Logo_full 1.png" alt="Logo web" style="max-width: 100%; margin: 0 auto" />
                      </a>
                  </div>
                 
              </div>
            
                <div class="icon-search search-mb" >
                  <i class="fa fa-search search-iconmb" aria-hidden="true"></i>
                    <div class="frm-search-mb" style="">
                     <form action="/search/" method="get" id="searchformtab">
                        <input name="qr" class="kw-mobile" placeholder="Tìm kiếm " type="text">
                        <a href="#" class="submit-search-pc" onClick="$('#searchformtab').submit(); return false;"> 
                          <i class="fa fa-search" aria-hidden="true"></i> </a>
  
                        <a href="#" class="closeX" onClick="$('.frm-search-mb').hide(); return false;">&#10005;</a>        
                      </form>
                    </div> 
                    
                    <script>
                      $(document).ready(function () {
                      $(".search-iconmb").click(function () {
                        $(".frm-search-mb").stop().slideToggle("fast");
                        return false;
                      });
                      });
                    </script>  	
                   </div>
               
            </div>
            </div>
        </div>
        <div class="c"></div>
    </div>

    </header>
    <!-- content -->
    <div class="content" style="background: #f1f2f2;">
      
      <!-- slideshow -->
      <div class="img-poster" style="position:relative">
        <a class="" href="">
          <img class="" src="/uploaded/slideshow/Duhoc-1-re_01.png" alt="" style="width: 100%" />
        </a>
    </div>
      
   
      <!-- end slideshow -->
      <div class="homesearch-wrapper">
        <div class="grid">
          <div class="search-form">
              
                <form action="#" method="GET" class="mangluoi-form">
                  <div class="flex-container align-center">
                      <div class="cell-2-6 tab-cell-1-1">
                        <div class="search-item">
  
                          <input type="text" name="" class="txt-contact" placeholder="| Từ khóa tìm kiếm">
                        </div>
                      </div>
                      <div class="cell-1-6 tab-cell-1-1">
                        <div class="search-item">
                          <select name="province" id="dichvu" class="txt-contact "   >
                            <option value=""> Quốc gia </option>
                            <option value=""> Việt nam</option>
                            <option value=""> Nhật Bản </option>
                            <option value=""> Hàn Quốc </option>
                            <option value=""> Quốc gia </option>
                        </select>
                        <div class="search-icon">
                          <img src="/uploaded/ico/country.png" alt="">
                        </div>
                        </div>
                      </div>
                      <div class="cell-1-6 tab-cell-1-1">
                        <div class="search-item">
                          <select name="service" id="dichvu" class="txt-contact "   >
                            <option value=""> <i class="fas fa-user"></i> Tỉnh/TP </option>
                        </select>
                        <div class="search-icon">
                          <img src="/uploaded/ico/province.png" alt="">
                        </div>
                        </div>
                      </div>
                      <div class="cell-1-6 tab-cell-1-1">
                        <div class="search-item">
                          <select name="service" id="dichvu" class="txt-contact "   >
                            <option value=""> <i class="fas fa-user"></i> Cấp bậc học </option>
                        </select>
                        <div class="search-icon">
                            <img src="/uploaded/ico/graduation.png" alt="" style="max-width:25px">
                        </div>
                        
                        </div>
                      </div>

  
                      <div class="cell-1-6 tab-cell-1-1">
                        <div class="search-item">
                          <div class="btn btn-search">
                            <a class=""><i class="fas fa-search"></i> Tìm kiếm </a>
                          </div>
                          
      
                      </div>
                      </div>
                
                
                
                  
                </div>
      
              </form>	
              
          </div>
        </div>
      </div>
       <div class="service-wrapper" style="background-color: #f1f2f2;">
            <div class="c30"></div>
                <div class="grid">
                    <div class="flex-container flex-space-between align-center">
                        <div class="cell-1-4 tab-cell-1-2">
                            <div class="countnumber">
                                20 Kết quả
                            </div>
                        </div>
                        <div class="cell-1-4 tab-cell-1-2">
                            <div class="sort-select " id="sort">
                                <p class="click-sort">Sắp Xếp theo <i class="fas fa-angle-down"></i> <span class="sort-show"></span></p>
                                <!-- <div class="sort-select-main sort " style="display: none;">
                                    <p><a href="#" class="check" data-id="moi-nhat"><i></i>Mới nhất</a></p>
                                    <p><a href="#" class="" data-id="gia-cao-den-thap"><i></i>Giá cao đến thấp</a></p>
                                    <p><a href="#" class="" data-id="gia-thap-den-cao"><i></i>Giá thấp đến cao</a></p>
                            
                                </div> -->
                            </div>
                        </div>
                    </div>
                    <div class="c30"></div>
                  <div class="service-item">
                    <div class="flex-container">
                        <div class="cell-1-4 tab-cell-1-3">
                            <a href="#" class="img-shine">
                                <img src="/uploaded/dichvu/Duhoc-1-re_07.png" alt="">
                            </a>
                            
                        </div>
                        <div class="cell-3-4 tab-cell-1-1">
                            <div class="serviceitem-content"> 
                              <div class="serviceitem-left">
                                <h3 class="">
                                    <a href="#">Đại học Quốc tế Tokyo Nhật Bản</a>
                                </h3>
                                <div class="c10"></div>
                                <p> <img src="/uploaded/ico/time.png" alt=""> 12- 36 tháng</p>
                                <p> <img src="/uploaded/ico/location.png" alt="">  Tokyo, Nhật bản</p>
                                <div class="c10"></div>   
                              </div>  
                              <div class="sericeitem-right" style="margin-top:-20px">
                                <div class="star-rate rate5">
                                    
                                </div>
                                <div class="hot">
                                    <img src="/uploaded/ico/hot.png" alt="">
                                </div>
                            </div>                          
                            </div>
                            <div class="c10"></div>
                            <hr>
                            <div class="c10"></div>
                            <div class="serviceitem-content">
                                <div class="serviceitem-left">
                                  <table>
                                    <tbody>
                                      <tr>
                                        <td><img alt="" src="/uploaded/ico/graduation.png" />Phí nhập học</td>
                                        <td><strong>150.000 Yên </strong></td>
                                        <td><strong> 30.000.000 VND </strong></td>
                                      </tr>
                                      <tr>
                                        <td><img alt="" src="/uploaded/ico/dolar.png" />Học phí</td>
                                        <td><strong>150.000 Yên</strong></td>
                                        <td><strong>30.000.000 VND</strong></td>
                                      </tr>
                                      <tr>
                                        <td><img alt="" src="/uploaded/ico/calerdar.png" />Kỳ nhập học</td>
                                        <td><strong>Tháng 1,4,6,8</strong></td>
                                        <td></td>
                                      </tr>
                                      <tr>
                                        <td> <img src="/uploaded/ico/bed2.png" alt="">Tiền ký túc xá</td>
                                        <td><strong>20.000 Yên</strong></td>
                                        <td></td>
                                      </tr>
                                    </tbody>
                                  </table>
                               
                                </div>
                                <div class="sericeitem-right">
                                    <div class="upload">
                                        <a href="#"> <i class="fas fa-briefcase"></i> Ứng tuyển ngay</a>
                                    </div>
                                    <div class="save">
                                      <a href="#"><i class="far fa-heart"></i></a>
                                    </div>
                                </div>
                            </div>

                            
                            <div class="c10"></div>
                        
                    </div>
                    </div>
                  </div>
                  <div class="service-item">
                    <div class="flex-container">
                        <div class="cell-1-4 tab-cell-1-3">
                            <a href="#" class="img-shine">
                                <img src="/uploaded/dichvu/Duhoc-1-re_07.png" alt="">
                            </a>
                            
                        </div>
                        <div class="cell-3-4 tab-cell-1-1">
                            <div class="serviceitem-content"> 
                              <div class="serviceitem-left">
                                <table>
                                  <tbody>
                                    <tr>
                                      <td><img alt="" src="/uploaded/ico/graduation.png" />Phí nhập học</td>
                                      <td><strong>150.000 Yên </strong></td>
                                      <td><strong> 30.000.000 VND </strong></td>
                                    </tr>
                                    <tr>
                                      <td><img alt="" src="/uploaded/ico/dolar.png" />Học phí</td>
                                      <td><strong>150.000 Yên</strong></td>
                                      <td><strong>30.000.000 VND</strong></td>
                                    </tr>
                                    <tr>
                                      <td><img alt="" src="/uploaded/ico/calerdar.png" />Kỳ nhập học</td>
                                      <td><strong>Tháng 1,4,6,8</strong></td>
                                      <td></td>
                                    </tr>
                                    <tr>
                                      <td> <img src="/uploaded/ico/bed2.png" alt="">Tiền ký túc xá</td>
                                      <td><strong>20.000 Yên</strong></td>
                                      <td></td>
                                    </tr>
                                  </tbody>
                                </table>
                             
                              </div>
                              <div class="sericeitem-right" style="margin-top:-20px">
                                <div class="star-rate rate5">
                                    
                                </div>
                                <div class="hot">
                                    <img src="/uploaded/ico/hot.png" alt="">
                                </div>
                            </div>                          
                            </div>
                            <div class="c10"></div>
                            <hr>
                            <div class="c10"></div>
                            <div class="serviceitem-content">
                              <div class="serviceitem-left">
                                <table>
                                  <tbody>
                                    <tr>
                                      <td><img alt="" src="/uploaded/ico/graduation.png" />Phí nhập học</td>
                                      <td><strong>150.000 Yên </strong></td>
                                      <td><strong> 30.000.000 VND </strong></td>
                                    </tr>
                                    <tr>
                                      <td><img alt="" src="/uploaded/ico/dolar.png" />Học phí</td>
                                      <td><strong>150.000 Yên</strong></td>
                                      <td><strong>30.000.000 VND</strong></td>
                                    </tr>
                                    <tr>
                                      <td><img alt="" src="/uploaded/ico/calerdar.png" />Kỳ nhập học</td>
                                      <td><strong>Tháng 1,4,6,8</strong></td>
                                      <td></td>
                                    </tr>
                                    <tr>
                                      <td> <img src="/uploaded/ico/bed2.png" alt="">Tiền ký túc xá</td>
                                      <td><strong>20.000 Yên</strong></td>
                                      <td></td>
                                    </tr>
                                  </tbody>
                                </table>
                             
                              </div>
                                <div class="sericeitem-right">
                                    <div class="upload">
                                        <a href="#"> <i class="fas fa-briefcase"></i> Ứng tuyển ngay</a>
                                    </div>
                                    <div class="save">
                                      <a href="#"><i class="far fa-heart"></i></a>
                                    </div>
                                </div>
                            </div>

                            
                            <div class="c10"></div>
                        
                    </div>
                    </div>
                  </div>
                  <div class="service-item">
                    <div class="flex-container">
                        <div class="cell-1-4 tab-cell-1-3">
                            <a href="#" class="img-shine">
                                <img src="/uploaded/dichvu/Duhoc-1-re_07.png" alt="">
                            </a>
                            
                        </div>
                        <div class="cell-3-4 tab-cell-1-1">
                            <div class="serviceitem-content"> 
                              <div class="serviceitem-left">
                                <h3 class="">
                                    <a href="#">Đại học Quốc tế Tokyo Nhật Bản</a>
                                </h3>
                                <div class="c10"></div>
                                <p><i class="far fa-clock"></i> 12- 36 tháng</p>
                                <p><i class="fas fa-map-marker-alt"></i>  Tokyo, Nhật bản</p>
                                <div class="c10"></div>   
                              </div>  
                              <div class="sericeitem-right" style="margin-top:-20px">
                                <div class="star-rate rate5">
                                    
                                </div>
                                <div class="hot">
                                    <img src="/uploaded/ico/hot.png" alt="">
                                </div>
                            </div>                          
                            </div>
                            <div class="c10"></div>
                            <hr>
                            <div class="c10"></div>
                            <div class="serviceitem-content">
                              <div class="serviceitem-left">
                                <table>
                                  <tbody>
                                    <tr>
                                      <td><img alt="" src="/uploaded/ico/graduation.png" />Phí nhập học</td>
                                      <td><strong>150.000 Yên </strong></td>
                                      <td><strong> 30.000.000 VND </strong></td>
                                    </tr>
                                    <tr>
                                      <td><img alt="" src="/uploaded/ico/dolar.png" />Học phí</td>
                                      <td><strong>150.000 Yên</strong></td>
                                      <td><strong>30.000.000 VND</strong></td>
                                    </tr>
                                    <tr>
                                      <td><img alt="" src="/uploaded/ico/calerdar.png" />Kỳ nhập học</td>
                                      <td><strong>Tháng 1,4,6,8</strong></td>
                                      <td></td>
                                    </tr>
                                    <tr>
                                      <td> <img src="/uploaded/ico/bed2.png" alt="">Tiền ký túc xá</td>
                                      <td><strong>20.000 Yên</strong></td>
                                      <td></td>
                                    </tr>
                                  </tbody>
                                </table>
                             
                              </div>
                                <div class="sericeitem-right">
                                    <div class="upload">
                                        <a href="#"> <i class="fas fa-briefcase"></i> Ứng tuyển ngay</a>
                                    </div>
                                    <div class="save">
                                      <a href="#"><i class="far fa-heart"></i></a>
                                    </div>
                                </div>
                            </div>

                            
                            <div class="c10"></div>
                        
                    </div>
                    </div>
                  </div>
            <div class="c30"></div>
       </div>
      <div class="homepartner-wrapper">
        <div class="c10"></div>
        <div class="swiper-container swiper-homepartner">
            <div class="swiper-wrapper" style="align-items: center;">
                
              <div class="swiper-slide">
                <div class="homepartner-item">
                    <a href="" target=""><img src="/uploaded/doitac/doitac (3).png" width="100%"  alt="Đối tác 01"></a>

                </div>
            </div>
                <div class="swiper-slide">
                    <div class="homepartner-item">
                        <a href="" target=""><img src="/uploaded/doitac/doitac (9).png" width="100%"  alt="Đối tác 01"></a>
    
                    </div>
                </div>
               
                <div class="swiper-slide">
                    <div class="homepartner-item">
                        <a href="" target=""><img src="/uploaded/doitac/doitac%20(3).png" width="100%"  alt="Đối tác 01"></a>
    
                    </div>
                </div>
                <div class="swiper-slide">
                    <div class="homepartner-item">
                        <a href="" target=""><img src="/uploaded/doitac/doitac%20(4).png" width="100%"  alt="Đối tác 01"></a>
    
                    </div>
                </div>
                <div class="swiper-slide">
                    <div class="homepartner-item">
                        <a href="" target=""><img src="/uploaded/doitac/doitac%20(5).png" width="100%"  alt="Đối tác 01"></a>
    
                    </div>
                </div>
                <div class="swiper-slide">
                    <div class="homepartner-item">
                        <a href="" target=""><img src="/uploaded/doitac/doitac%20(6).png" width="100%"  alt="Đối tác 01"></a>
    
                    </div>
                </div>
                <div class="swiper-slide">
                    <div class="homepartner-item">
                        <a href="" target=""><img src="/uploaded/doitac/doitac%20(7).png" width="100%"  alt="Đối tác 01"></a>
    
                    </div>
                </div>
                <div class="swiper-slide">
                    <div class="homepartner-item">
                        <a href="" target=""><img src="/uploaded/doitac/doitac (4).png" width="100%"  alt="Đối tác 01"></a>
    
                    </div>
                </div>
                <div class="swiper-slide">
                    <div class="homepartner-item">
                        <a href="" target=""><img src="/uploaded/doitac/doitac%20(9).png" width="100%"  alt="Đối tác 01"></a>
    
                    </div>
                </div>
    
            </div>
    
        </div>
        <div class="c10"></div>
    </div>
    <script>
        var swiper = new Swiper('.swiper-homepartner', {
            pagination: {
                el: ".swiper-pagination",
                dynamicBullets: true,
                clickable: true,
            },
            navigation: {
                // nextEl: '.swiper-homespeakers-next',
                // prevEl: '.swiper-homespeakers-prev',
            },
            slidesPerView: 10,
            centeredSlides: false,
            paginationClickable: true,
            loop: true,
            spaceBetween: 20,
            slideToClickedSlide: true,
            breakpoints: {
                500: {
                    slidesPerView: 2
                },
                700: {
                    slidesPerView: 4
                },
                1200: {
                    slidesPerView: 10
                }
            }
        });
    
    </script>
    
    

     </div>
          
    <!-- end content -->

</div>
    <div class="c"></div>

    <!-- footer -->
    <footer class="footer">
      
      <div class="c30"></div>
    <div class="footer-main">
      <div class="grid">

        <div class="flex-container">
          <div class="cell-1-4 tab-cell-1-1">
            <div class="c30"></div>
              <a href="#">
                  <img src="/uploaded/logo/logo.png" alt="">
              </a>
              <div class="c20"></div>
              <h2 class="footer-title">CÔNG TY CỔ PHẦN RELINES GLOBAL</h2>
            
              <ul class="footer-social">
          
                <li class="facebook  hvr-float">
                  <a href="https://www.facebook.com/hocbongvnu" class="footer-social__item">
                    <i class="fab fa-facebook-f"></i>
                  </a>
                </li>
                <li class="youtube  hvr-float">
                  <a href="#" class="footer-social__item">
                    <i class="fab fa-youtube"></i>
                  </a>
                </li>
               
                <li class="instagram  hvr-float">
                  <a href="" class="footer-social__item">
                    <i class="fab fa-twitter"></i>
                  </a>
                </li>
               
              </ul>
             
          </div>
          <div class="cell-1-4 tab-cell-1-1">
            <div class="footer-block">
            <div class="footer-title footer-title-mobile" rel="ct">
               liên hệ
            </div>
           
              <div class="info">
                Trụ sở: Số 14-16, ngõ 254 Đường Bưởi.
                P. Cống Vị Quận Ba Đình, Hà Nội
              </div>
              <div class="info">
                <b>Điện thoại:</b> 0869 066 288 
               
            </div>
            <div class="info">
              <b> Email:</b>info@relinesglobal.com
          </div>

            </div>
        </div>
          <div class="cell-1-4 tab-cell-1-1">
            <div class="footer-block">
                


            <div class="c5 hide-on-tab"></div>

            <ul class="menuboxfooter" id="boxcol5">
            <li><a href="/gioi-thieu-chung/"> Giới thiệu chung</a></li>
            <li><a href="/tam-nhin-chien-luoc/"> Tầm nhìn chiến lược </a></li>
            <li><a href="/gia-tri-cot-loi/"> Giá trị cốt lõi</a></li>
            </ul>
            <div class="c10"></div>

            </div>

        </div>
        
          <div class="footer-block">
            <div class="footer-title footer-title-mobile" rel="ct">
                Đăng ký nhận tin
            </div>
          
            <form action="" method="post" class="sendmail__frm">

              <input type="text" name="newsletter" class="sendmail__input" placeholder="Email của bạn">

              <button type="submit" name="addnewsletter" value="save" class="sendmail__btn">
                Đăng Ký
              </button>
            </form>

          </div>
            
          
      </div>

      <div class="footer-copyright">
        <div class="grid">
          Copyright © 2023 Relines
        </div>
      </div>
         
      </div>
    </div>

   
  </footer>
    <!-- end footer -->
</div>


  <link rel="stylesheet" href="/css/jquery.fancybox.css" />
  <script src="/js/jquery.fancybox.js"></script>
  <link rel="stylesheet" href="/css/hover.css" />
  
</body>

</html>
