<!doctype html>
<html lang="vi" xmlns="http://www.w3.org/1999/xhtml"  xml:lang="vi">


    <head>
        <meta charset="utf-8" />
        <title>Best Design - Chuyên thiết kế thi công nội thất đẹp, giá rẻ</title>
        <meta name="viewport"
              content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=2.0, user-scalable=yes" />
        <meta name="theme-color" content="#0099ff" />

        <meta http-equiv="Content-Language" content="VN" />
        <meta name="description" content="Best Design - Chuyên thiết kế thi công nội thất đẹp, giá rẻ" />
        <meta name="keywords" content="" />
        <meta property="og:url" name="og:url" content="https://bestdesign.24h.co/" data-app/>
        <meta property="og:type" name="og:type" content="website" data-app/>
        <meta property="og:description" name="og:description" content="Best Design - Chuyên thiết kế thi công nội thất đẹp, giá rẻ" data-app/>
        <meta property="og:title" name="og:title" content="Best Design - Chuyên thiết kế thi công nội thất đẹp, giá rẻ" data-app/>

        <meta property="og:image" name="og:image" content="https://bestdesign.24h.co/uploaded/logo/logo.png" data-app>
        <meta property="og:image:alt" name="og:image:alt" content="https://bestdesign.24h.co/uploaded/logo/logo.png" data-app>
        <link href="/favicon.ico" rel="shortcut icon" />        

     
        <link rel="stylesheet" type="text/css" href="/css/style.css" />

        <link rel="stylesheet" type="text/css" href="/css/grid.css" />
        <link rel="stylesheet" type="text/css" href="/css/responsive.css" />
        <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/Swiper/4.2.2/css/swiper.min.css" />
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Bai+Jamjuree:wght@400;500;600;700&family=Montserrat:ital,wght@0,400;0,600;1,700&display=swap" rel="stylesheet">
        <link rel="stylesheet" type="text/css" href="/css/font.css" />
        <link rel="stylesheet" type="text/css" href="/css/fontawesome-5.12.1/css/all.min.css" />
        <link rel="stylesheet" type="text/css" href="/css/jquery.mmenu.all.css" />
        <link rel="stylesheet" href="/css/jquery-ui.css" />

        <script src="/js/jquery-1.10.1.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/Swiper/4.2.2/js/swiper.min.js"></script>

        <script src="/js/script.js"></script>

        <script src="/js/jquery-ui.min.js"></script>
        <script src="/js/jquery.form.min.js"></script>
        <script src="/js/jquery.mmenu.min.all.js"></script>

        

        

    </head>    


<body>



<div id="page">


    <!-- header pc -->
   <div class="user-header">
    <div class="grid">
        <div class="flex-container align-center">
            <div class="cell-1-4"></div>
            <div class="cell-2-4">
                <div class="menubar">
                    <ul class="nav  hide-on-mobile">
                    <li class=" active "> <a href="/" class=""><span style="background-image:url()">việc làm siêu tốc       
                    </li>
        
                    <li class=" "> <a href="/" class=""><span style="background-image:url()"> Du học                       </span></a>
                        <ul class="submnu1" style="display: none;">
                            <li class=""><a href="/phat-trien-dien-nang/">Về chúng tôi</a>
                            </li>
                            <li class=""><a href="/dau-tu-bat-dong-san/">Lịch sử hình thành</a>
                            
                            </li>
                        </ul>
                    </li>
                    
                    <li class=" "> <a href="/linh-vuc-hoat-dong/" class=""><span style="background-image:url()">  Nhà tuyển dụng          </span></a>
                    </span></a>
                    
                    
                    
                    
                        <ul class="submnu1" style="display: none;">
                            <li class=""><a href="/phat-trien-dien-nang/">Thi công nội thất chung cư</a>
                            </li>
                            <li class=""><a href="/dau-tu-bat-dong-san/">Thi công nội thất nhà phố </a>
                            </li>
                            <li class=""><a href="/dich-vu-khach-san/">Thi công nội thất biệt thự</a>
                            </li>
                            <li class=""><a href="/dich-vu-khach-san/">Thi công nội thất văn phòng</a>
                            </li>
                        </ul>
                        
                        
                        
                    </li>
                    <li class=""> <a href="/cong-ty-thanh-vien/" class=""><span style="background-image:url()">      GIỚI THIỆU             </span></a>       
                        
                        
                    </li>
                    <li class=" "> <a href="/tin-tuc-su-kien/" class=""><span style="background-image:url()">  Cẩm nang      </span></a>
                    
                    
                    </li>
                    
                    
                    </ul>
                    
                        <div class="user">
                            <div class="user avt">
                                    <img src="/uploaded/" alt="">
                            </div>
                        </div>
                    </div>
                   
            </div>
            <div class="cell-1-4">
                <div class="user">
                    <div class="user-avt">
                        <img src="/uploaded/user/item1.png" alt="">
                    </div>
                
                    <div class="user-info">
                        
                        <div class="user-name">
                         Nguyen Van Vinh
                        </div>
                    
                     <div class="user-email">
                         info@gmail.com
                     </div>
                    </div>
                </div> 
                
            </div>
           
        </div>
    </div>
   </div>
    <!-- end header pc -->

    <!-- content -->
    <div class="content" style="background-color: #f1f2f2;" >
        
        <div class="">
          <div class="flex-container">
                <div class="cell-1-5 tab-cell-1-3">
                    <div class="user-content-left">
                        <div class="logo logo-user">
                           <a href="#">
                               <img src="/uploaded/logo/logo.png" alt="">
                           </a>
                        </div>
                        <div class="c20"></div>
                        <div class="c30"></div>
                           <div class="user-left">
                               <img src="/uploaded/user/item1.png" alt="">
                               <div class="c20"></div>
                               <div class="user-left__name">
                                   NGUYEN VAN VINH
                               </div>
                               <div class="user-left__email">
                                   info@gmail.com
                               </div>
                           </div>
                           <div class="c20"></div>
                           <div class="btn-upload">
                               <a href="#"> Tải ảnh lên</a>
                           </div>
                           <div class="c30"></div>
                           <ul class="user-menuleft">
                               <li>
                                   <a href="#">  <img src="/uploaded/ico/trinhdo.png" alt=""> Tin đã ứng tuyển</a>
                               </li>
                               <li>
                                   <a href="#">  <img src="/uploaded/ico/luutin.png" alt=""> Tin đã lưu</a>
                               </li>
                               <li>
                                   <a href="#">  <img src="/uploaded/ico/graduation.png" alt=""> Tin đã ứng tuyển</a>
                               </li>
                               <li>
                                   <a href="#">  <img src="/uploaded/ico/trinhdo.png" alt=""> Tin đã ứng tuyển</a>
                               </li>
                               
                           </ul>
                           <div class="c10"></div>
                           <hr>
                           <div class="c30"></div>
                           <ul class="user-menuleft">
                               <li>
                                   <a href="#">  <img src="/uploaded/ico/user.png" alt=""> Thông tin cá nhân</a>
                               </li>
                               <li>
                                   <a href="#">  <img src="/uploaded/ico/password.png" alt=""> Đổi mật khẩu</a>
                               </li>
                               <li>
                                   <a href="#">  <img src="/uploaded/ico/dangxuat.png" alt=""> Đăng xuất</a>
                               </li>
                            
                               
                           </ul>
                       </div>
                </div>
                <div class="cell-4-5 tab-cell-2-3 cell-user-right">
                    <div class="user-content-right">
                        <div class="user-content__titem">
                            <div class="user-title">
                                    <img src="/uploaded/ico/user.png" alt=""> Thông tin cơ bản
                            </div>
                            <div class="c30"></div>
                            <form action="/index4.php?page=tuyendung" class="info-form" method="post" id="thongtincobanForm" enctype="multipart/form-data" onSubmit="return check_null_td();">
                                <input type="hidden" name="id_tuyendung" value="/tuyen-dung/truong-dh-viet-nhat-dhqghn-tuyen-can-bo-giang-vien-tai-cac-phong-ban-khoa-dao-tao.html" />
                                <input type="hidden" name="code" value="save" />
                                <div class="flex-container">
                                    <div class="cell-1-2 tab-cell-1-1">
                                        <div class="line-frm flex-container flex-flex-start align-center">
                                           <div class="cell-2-5 cell-lable">
                                            <div class="title-frm-reg">Họ tên </div>
                                           </div>
                                            <div class="cell-3-5">
                                                <div class=""><input class="txt-contact txt notNull" name="td_name" type="text"></div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="cell-1-2"></div>
                                    <div class="cell-1-2 tab-cell-1-1">
                                        <div class="line-frm flex-container flex-flex-start align-center">
                                            <div class="cell-2-5 cell-lable">
                                             <div class="title-frm-reg"> Ngày sinh </div>
                                            </div>
                                             <div class="cell-3-5">
                                                 <div class=""><input class="txt-contact txt notNull" name="td_name" type="text"></div>
                                             </div>
                                         </div>
                                    </div>
                                    <div class="cell-1-2 tab-cell-1-1">
                                        <div class="line-frm flex-container flex-flex-start align-center">
                                           
                                             <div class="title-frm-reg"> Giới tính </div>
                                           
                                            
                                                <input type="radio" id="male" name="gender">
                                                <label for="male">Nam</label>
                                                <input type="radio" id="female" name="gender">
                                                <label for="female">Nữ</label>
                                         </div>
                                    </div>
                                    <div class="cell-1-1 tab-cell-1-1">
                                        <div class="line-frm flex-container flex-flex-start align-center">
                                           <div class="cell-1-5 cell-lable">
                                            <div class="title-frm-reg">Địa chỉ </div>
                                           </div>
                                            <div class="cell-1-5 cell-1-3-adderss">
                                                <div class="">
                                                    <input class="txt-contact txt notNull" name="td_name" type="text" placeholder="Tỉnh/TP">
                                                </div>
                                            </div>
                                            <div class="cell-1-5 cell-1-3-adderss">
                                                <div class="">
                                                    <input class="txt-contact txt notNull" name="td_name" type="text" placeholder="Quận/huyện">
                                                </div>
                                            </div>
                                            <div class="cell-1-5 cell-1-3-adderss">
                                                <div class="">
                                                    <input class="txt-contact txt notNull" name="td_name" type="text" placeholder="Xã/Phường">
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="cell-1-2 tab-cell-1-1">
                                        <div class="line-frm flex-container flex-flex-start align-center">
                                            <div class="cell-2-5 cell-lable">
                                             <div class="title-frm-reg"> Điện thoại </div>
                                            </div>
                                             <div class="cell-3-5">
                                                 <div class=""><input class="txt-contact txt notNull" name="td_name" type="text"></div>
                                             </div>
                                         </div>
                                    </div>
                                    <div class="cell-1-2 tab-cell-1-1">
                                        <div class="line-frm flex-container flex-flex-start align-center">
                                            <div class="cell-1-5 ">
                                             <div class="title-frm-reg">Email </div>
                                            </div>
                                             <div class="cell-3-5">
                                                 <div class=""><input class="txt-contact txt notNull" name="td_name" type="text"></div>
                                             </div>
                                         </div>
                                    </div>
                                    
                                </div>
                             
                               
                                    
                               
                             </form>
                           
                           
                        </div>
                        <div class="c50"></div>
                        <div class="c50 hide-on-mobile">

                        </div>
                        <div class="user-content__titem">
                            <div class="user-title">
                                    <img src="/uploaded/ico/graduation.png" alt=""> Học vấn
                            </div>
                            <div class="c30"></div>
                            <table width="100%" border="0" cellspacing="0" cellpadding="0" class="table-list">

                                <tbody>
                
                
                                    <tr>
                                        <th class="table-col1-hocvan">Từ năm</th>
                                        <th class="table-col2-hocvan">Đến năm</th>
                                        <th class="table-col3-hocvan">Tên trường</th>
                                        <th class="table-col4-hocvan">Khóa học</th>
                                    </tr>
                
                                    <tr>
                                        <td class="table-col1-hocvan" contenteditable='true'></td>
                                        <td class="table-col2-hocvan" contenteditable='true'></td>
                                        <td class="table-col3-hocvan" contenteditable='true'></td>
                                        <td class="table-col4-hocvan" contenteditable='true'></td>
                                    </tr>
                                    <tr>
                                        <td class="table-col1-hocvan" contenteditable='true'></td>
                                        <td class="table-col2-hocvan" contenteditable='true'></td>
                                        <td class="table-col3-hocvan" contenteditable='true'></td>
                                        <td class="table-col4-hocvan" contenteditable='true'></td>
                                    </tr>
                                    <tr>
                                        <td class="table-col1-hocvan" contenteditable='true'></td>
                                        <td class="table-col2-hocvan" contenteditable='true'></td>
                                        <td class="table-col3-hocvan" contenteditable='true'></td>
                                        <td class="table-col4-hocvan" contenteditable='true'></td>
                                    </tr>
                                    <tr>
                                        <td class="table-col1-hocvan" contenteditable='true'></td>
                                        <td class="table-col2-hocvan" contenteditable='true'></td>
                                        <td class="table-col3-hocvan" contenteditable='true'></td>
                                        <td class="table-col4-hocvan" contenteditable='true'></td>
                                    </tr>
                                </tbody>
                            </table>
                           
                        </div>
                        <div class="c50"></div>
                        <div class="user-content__titem">
                            <div class="user-title">
                                    <img src="/uploaded/ico/bed2.png" alt=""> Kinh nghiệm thực tế
                            </div>
                            <div class="c30"></div>
                            <table width="100%" border="0" cellspacing="0" cellpadding="0" class="table-list">

                                <tbody>
                
                
                                    <tr>
                                        <th class="table-col1-hocvan">Từ năm</th>
                                        <th class="table-col2-hocvan">Đến năm</th>
                                        <th class="table-col3-hocvan">Tên trường</th>
                                        <th class="table-col4-hocvan">Vị trí, Kỹ năng</th>
                                    </tr>
                
                                    <tr>
                                        <td class="table-col1-hocvan" contenteditable='true'></td>
                                        <td class="table-col2-hocvan" contenteditable='true'></td>
                                        <td class="table-col3-hocvan" contenteditable='true'></td>
                                        <td class="table-col4-hocvan" contenteditable='true'></td>
                                    </tr>
                                    <tr>
                                        <td class="table-col1-hocvan" contenteditable='true'></td>
                                        <td class="table-col2-hocvan" contenteditable='true'></td>
                                        <td class="table-col3-hocvan" contenteditable='true'></td>
                                        <td class="table-col4-hocvan" contenteditable='true'></td>
                                    </tr>
                                    <tr>
                                        <td class="table-col1-hocvan" contenteditable='true'></td>
                                        <td class="table-col2-hocvan" contenteditable='true'></td>
                                        <td class="table-col3-hocvan" contenteditable='true'></td>
                                        <td class="table-col4-hocvan" contenteditable='true'></td>
                                    </tr>
                                    <tr>
                                        <td class="table-col1-hocvan" contenteditable='true'></td>
                                        <td class="table-col2-hocvan" contenteditable='true'></td>
                                        <td class="table-col3-hocvan" contenteditable='true'></td>
                                        <td class="table-col4-hocvan" contenteditable='true'></td>
                                    </tr>
                                </tbody>
                            </table>
                            <!-- <table border="3">
                                <thead>
                                <tr>Heading 1</tr>
                                <tr>Heading 2</tr>
                                </thead>
                                <tbody>
                                <tr>
                                <td contenteditable='true'></td>
                                <td contenteditable='true'></td>
                                </tr>
                                <tr>
                                <td contenteditable='true'></td>
                                <td contenteditable='true'></td>
                                </tr>
                                </tbody>
                                </table> -->
                        </div>
                        <div class="c50"></div>
                        <div class="user-content__titem">
                            <div class="user-title">
                                    <img src="/uploaded/ico/ngoaingu.png" alt=""> Chứng chỉ, kỹ năng
                            </div>
                            <div class="c30"></div>
                            <table width="100%" border="0" cellspacing="0" cellpadding="0" class="table-list">

                                <tbody>
                
                
                                    <tr>
                                        <th class="table-col1-chungchi">Tên chứng chỉ</th>
                                        <th class="table-col2-chungchi">Level</th>
                                        <th class="table-col3-chungchi">Tự đánh giá</th>
                                      
                                    </tr>
                
                                    <tr>
                                        <td class="table-col1-chungchi" contenteditable='true'></td>
                                        <td class="table-col2-chungchi" contenteditable='true'></td>
                                        <td class="table-col3-chungchi" contenteditable='true'>
                                            <input type="radio" id="D" name="gender">
                                            <label for="D">D</label>
                                            <input type="radio" id="C" name="gender">
                                            <label for="C">C</label>
                                            <input type="radio" id="B" name="gender">
                                            <label for="B">B</label>
                                            <input type="radio" id="A" name="gender">
                                            <label for="A">A</label>
                                            <input type="radio" id="A+" name="gender">
                                            <label for="A+">A+</label>
                                            
                                        </td>
                                       
                                    </tr>
                                    <tr>
                                        <td class="table-col1-chungchi" contenteditable='true'></td>
                                        <td class="table-col2-chungchi" contenteditable='true'></td>
                                        <td class="table-col3-chungchi" contenteditable='true'>
                                            <input type="radio" id="D" name="gender">
                                            <label for="D">D</label>
                                            <input type="radio" id="C" name="gender">
                                            <label for="C">C</label>
                                            <input type="radio" id="B" name="gender">
                                            <label for="B">B</label>
                                            <input type="radio" id="A" name="gender">
                                            <label for="A">A</label>
                                            <input type="radio" id="A+" name="gender">
                                            <label for="A+">A+</label>
                                            
                                        </td>
                                       
                                    </tr>
                                    <tr>
                                        <td class="table-col1-chungchi" contenteditable='true'></td>
                                        <td class="table-col2-chungchi" contenteditable='true'></td>
                                        <td class="table-col3-chungchi" contenteditable='true'>
                                            <input type="radio" id="D" name="gender">
                                            <label for="D">D</label>
                                            <input type="radio" id="C" name="gender">
                                            <label for="C">C</label>
                                            <input type="radio" id="B" name="gender">
                                            <label for="B">B</label>
                                            <input type="radio" id="A" name="gender">
                                            <label for="A">A</label>
                                            <input type="radio" id="A+" name="gender">
                                            <label for="A+">A+</label>
                                            
                                        </td>
                                       
                                    </tr>
                                    <tr>
                                        <td class="table-col1-chungchi" contenteditable='true'></td>
                                        <td class="table-col2-chungchi" contenteditable='true'></td>
                                        <td class="table-col3-chungchi" contenteditable='true'>
                                            <input type="radio" id="D" name="gender">
                                            <label for="D">D</label>
                                            <input type="radio" id="C" name="gender">
                                            <label for="C">C</label>
                                            <input type="radio" id="B" name="gender">
                                            <label for="B">B</label>
                                            <input type="radio" id="A" name="gender">
                                            <label for="A">A</label>
                                            <input type="radio" id="A+" name="gender">
                                            <label for="A+">A+</label>
                                            
                                        </td>
                                       
                                    </tr>

                                   
                                </tbody>
                            </table>
                            <!-- <table border="3">
                                <thead>
                                <tr>Heading 1</tr>
                                <tr>Heading 2</tr>
                                </thead>
                                <tbody>
                                <tr>
                                <td contenteditable='true'></td>
                                <td contenteditable='true'></td>
                                </tr>
                                <tr>
                                <td contenteditable='true'></td>
                                <td contenteditable='true'></td>
                                </tr>
                                </tbody>
                                </table> -->
                        </div>
                        <div class="c50"></div>
                        <div class="user-content__titem">
                            <div class="user-title">
                                    <img src="/uploaded/ico/country.png" alt=""> Trình độ ngoại ngữ
                            </div>
                            <div class="c30"></div>
                            <table border="0" cellspacing="0" cellpadding="0" class="table-list">

                                <tbody>
                
                
                                    <tr>
                                        <th class="table-col1-ngoaingu">Ngoại ngữ</th>
                                       
                                        <th class="table-col3-ngoaingu">Tự đánh giá</th>
                                        
                                    </tr>
                
                                    <tr>
                                        <td class="table-col1-ngoaingu" contenteditable='true'></td>
                                       
                                        <td class="table-col3-ngoaingu" contenteditable='true'>
                                            <input type="radio" id="D" name="gender">
                                            <label for="D">D</label>
                                            <input type="radio" id="C" name="gender">
                                            <label for="C">C</label>
                                            <input type="radio" id="B" name="gender">
                                            <label for="B">B</label>
                                            <input type="radio" id="A" name="gender">
                                            <label for="A">A</label>
                                            <input type="radio" id="A+" name="gender">
                                            <label for="A+">A+</label>
                                            
                                        </td>
                                       
                                    </tr>
                                    <tr>
                                        <td class="table-col1-ngoaingu" contenteditable='true'></td>
                                       
                                        <td class="table-col3-ngoaingu" contenteditable='true'>
                                            <input type="radio" id="D" name="gender">
                                            <label for="D">D</label>
                                            <input type="radio" id="C" name="gender">
                                            <label for="C">C</label>
                                            <input type="radio" id="B" name="gender">
                                            <label for="B">B</label>
                                            <input type="radio" id="A" name="gender">
                                            <label for="A">A</label>
                                            <input type="radio" id="A+" name="gender">
                                            <label for="A+">A+</label>
                                            
                                        </td>
                                       
                                    </tr>
                                    <tr>
                                        <td class="table-col1-ngoaingu" contenteditable='true'></td>
                                       
                                        <td class="table-col3-ngoaingu" contenteditable='true'>
                                            <input type="radio" id="D" name="gender">
                                            <label for="D">D</label>
                                            <input type="radio" id="C" name="gender">
                                            <label for="C">C</label>
                                            <input type="radio" id="B" name="gender">
                                            <label for="B">B</label>
                                            <input type="radio" id="A" name="gender">
                                            <label for="A">A</label>
                                            <input type="radio" id="A+" name="gender">
                                            <label for="A+">A+</label>
                                            
                                        </td>
                                       
                                    </tr>
                                    <tr>
                                        <td class="table-col1-ngoaingu" contenteditable='true'></td>
                                       
                                        <td class="table-col3-ngoaingu" contenteditable='true'>
                                            <input type="radio" id="D" name="gender">
                                            <label for="D">D</label>
                                            <input type="radio" id="C" name="gender">
                                            <label for="C">C</label>
                                            <input type="radio" id="B" name="gender">
                                            <label for="B">B</label>
                                            <input type="radio" id="A" name="gender">
                                            <label for="A">A</label>
                                            <input type="radio" id="A+" name="gender">
                                            <label for="A+">A+</label>
                                            
                                        </td>
                                       
                                    </tr>
                                    
                                   
                                </tbody>
                            </table>
                            <!-- <table border="3">
                                <thead>
                                <tr>Heading 1</tr>
                                <tr>Heading 2</tr>
                                </thead>
                                <tbody>
                                <tr>
                                <td contenteditable='true'></td>
                                <td contenteditable='true'></td>
                                </tr>
                                <tr>
                                <td contenteditable='true'></td>
                                <td contenteditable='true'></td>
                                </tr>
                                </tbody>
                                </table> -->
                        </div>
                        <div class="c50"></div>
                        
                        <div class="user-content__titem">
                            <div class="user-title">
                                    <img src="/uploaded/ico/nguyenvong.png" alt=""> Nguyện vọng
                            </div>
                            <div class="c30"></div>
                            <form action="/index4.php?page=tuyendung" class="nguyenvong-form" method="post" id="thongtincobanForm" enctype="multipart/form-data" onSubmit="return check_null_td();">
                                <input type="hidden" name="id_tuyendung" value="/tuyen-dung/truong-dh-viet-nhat-dhqghn-tuyen-can-bo-giang-vien-tai-cac-phong-ban-khoa-dao-tao.html" />
                                <input type="hidden" name="code" value="save" />
                                <div class="flex-container">
                                    <div class="cell-1-2 tab-cell-1-1">
                                        <div class="line-frm flex-container flex-flex-start align-center">
                                           <div class="cell-2-5 cell-lable">
                                            <div class="title-frm-reg">Hình thức </div>
                                           </div>
                                            <div class="cell-2-5">
                                                <div class="search-item">
                                                    <select name="province" id="dichvu" class="txt-contact "   >
                                                      <option value="1"> Lao động</option>
                                                    
                                                  </select>
                                            </div>
                                        </div>
                                    </div>
                                    </div>
                                    <div class="cell-1-2"></div>
                                    
                                   
                                   
                                    <div class="cell-1-1 tab-cell-1-1">
                                        <div class="line-frm flex-container flex-flex-start align-center">
                                            <div class="cell-1-5 cell-lable">
                                             <div class="title-frm-reg"> Địa điểm </div>
                                            </div>
                                             <div class="cell-2-5 cell-1-3-adderss">
                                                <div class="search-item">
                                                    <select name="province" id="countries" class="txt-contact "   >
                                                      <option value="1"> Quốc gia</option>
                                                    
                                                  </select>
                                             </div>
                                            </div>
                                            <div class="cell-2-5 cell-1-3-adderss">
                                                <div class="search-item">
                                                    <select name="province" id="city" class="txt-contact "   >
                                                    <option value="1"> Tỉnh thành phố</option>
                                                    
                                                </select>
                                            </div>
                                            </div>
                                        </div>
                                    </div>
                                   
                                    <div class="cell-1-1">
                                        <div class="line-frm flex-container flex-flex-start align-top">
                                            <div class="cell-1-5 cell-lable">
                                             <div class="title-frm-reg"> Khác </div>
                                            </div>
                                            <div class="cell-3-5">
                                                <textarea name="#" id="" cols="100%" rows="5"></textarea>
                                            </div>
                                        </div>
                                      
                                    </div>
                                    
                                </div>
                             
                               
                                    
                               
                             </form>
                           
                           
                        </div>
                        <div class="c50"></div>
                        <a href="#" class="btn btn-saved">Lưu thay đổi</a>
                        <a href="#"class="btn btn-cancel">Hủy</a>
                      
                    </div>
                    <div class="coppy-right-user">
                        Copyright © 2023 Relines
                    </div>
                </div>
          </div>
            
        </div>
        
     </div>
          
    <!-- end content -->

</div>
  

</div>


<script>
    // Iterate over each select element
$('select').each(function () {

// Cache the number of options
var $this = $(this),
numberOfOptions = $(this).children('option').length;

// Hides the select element
$this.addClass('s-hidden');

// Wrap the select element in a div
$this.wrap('<div class="select"></div>');

// Insert a styled div to sit over the top of the hidden select element
$this.after('<div class="styledSelect"></div>');

// Cache the styled div
var $styledSelect = $this.next('div.styledSelect');

// Show the first select option in the styled div
$styledSelect.text($this.children('option').eq(0).text());

// Insert an unordered list after the styled div and also cache the list
var $list = $('<ul />', {
'class': 'options'
}).insertAfter($styledSelect);

// Insert a list item into the unordered list for each select option
for (var i = 0; i < numberOfOptions; i++) {
$('<li />', {
text: $this.children('option').eq(i).text(),
rel: $this.children('option').eq(i).val()
}).appendTo($list);
}

// Cache the list items
var $listItems = $list.children('li');

// Show the unordered list when the styled div is clicked (also hides it if the div is clicked again)
$styledSelect.click(function (e) {
e.stopPropagation();
$('div.styledSelect.active').each(function () {
$(this).removeClass('active').next('ul.options').hide();
});
$(this).toggleClass('active').next('ul.options').toggle();
});

// Hides the unordered list when a list item is clicked and updates the styled div to show the selected list item
// Updates the select element to have the value of the equivalent option
$listItems.click(function (e) {
e.stopPropagation();
$styledSelect.text($(this).text()).removeClass('active');
$this.val($(this).attr('rel'));
$list.hide();
/* alert($this.val()); Uncomment this for demonstration! */
});

// Hides the unordered list when clicking outside of it
$(document).click(function () {
$styledSelect.removeClass('active');
$list.hide();
});

});
</script>
  <link rel="stylesheet" href="/css/jquery.fancybox.css" />
  <script src="/js/jquery.fancybox.js"></script>
  <link rel="stylesheet" href="/css/hover.css" />
  
</body>

</html>
