<!doctype html>
<html lang="vi" xmlns="http://www.w3.org/1999/xhtml"  xml:lang="vi">


    <head>
        <meta charset="utf-8" />
        <title>Relines</title>
        <meta name="viewport"
              content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=2.0, user-scalable=yes" />
        <meta name="theme-color" content="#0099ff" />

        <meta http-equiv="Content-Language" content="VN" />
        <meta name="description" content="Relines"/>
        <meta name="keywords" content="" />
        <meta property="og:url" name="og:url" content="https://bestdesign.24h.co/" data-app/>
        <meta property="og:type" name="og:type" content="website" data-app/>
        <meta property="og:description" name="og:description" content="Relines" data-app/>
        <meta property="og:title" name="og:title" content="Relines" data-app/>

      
        <link href="/favicon.ico" rel="shortcut icon" />        

     
        <link rel="stylesheet" type="text/css" href="/css/style.css" />

        <link rel="stylesheet" type="text/css" href="/css/grid.css" />
        <link rel="stylesheet" type="text/css" href="/css/responsive.css" />
        <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/Swiper/4.2.2/css/swiper.min.css" />

        <link rel="stylesheet" type="text/css" href="/css/font.css" />
        <link rel="stylesheet" type="text/css" href="/css/fontawesome-5.12.1/css/all.min.css" />
        <link rel="stylesheet" type="text/css" href="/css/jquery.mmenu.all.css" />
        <link rel="stylesheet" href="/css/jquery-ui.css" />

        <script src="/js/jquery-1.10.1.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/Swiper/4.2.2/js/swiper.min.js"></script>

        <script src="/js/script.js"></script>

        <script src="/js/jquery-ui.min.js"></script>
        <script src="/js/jquery.form.min.js"></script>
        <script src="/js/jquery.mmenu.min.all.js"></script>

        

        

    </head>    


<body>



<div id="page">



    <!-- header pc -->
    <header class="header hide-on-pad hide-on-tab">
      <div class="grid">
        
        <div class="flex-container align-center">
            <div class="cell-1-5">
              <div class="logo">
                <a href="/">
                  <img src="/uploaded/logo/logo.png" alt="LogoSite"
                    style="max-width:100%; margin:0 auto"></a>
                </div>
            </div>
           <div class="cell-4-5">
            <div class="menubar">
              <ul class="nav  hide-on-mobile">
              <li class=" active "> <a href="/" class=""><span style="background-image:url()">việc làm siêu tốc       
              </li>

              <li class=" "> <a href="/" class=""><span style="background-image:url()"> Du học                       </span></a>
                  <ul class="submnu1" style="display: none;">
                    <li class=""><a href="/phat-trien-dien-nang/">Về chúng tôi</a>
                    </li>
                    <li class=""><a href="/dau-tu-bat-dong-san/">Lịch sử hình thành</a>
                   
                    </li>
                </ul>
              </li>
              
              <li class=" "> <a href="/linh-vuc-hoat-dong/" class=""><span style="background-image:url()">  Nhà tuyển dụng          </span></a>
              </span></a>
              
              
              
              
                  <ul class="submnu1" style="display: none;">
                      <li class=""><a href="/phat-trien-dien-nang/">Thi công nội thất chung cư</a>
                      </li>
                      <li class=""><a href="/dau-tu-bat-dong-san/">Thi công nội thất nhà phố </a>
                      </li>
                      <li class=""><a href="/dich-vu-khach-san/">Thi công nội thất biệt thự</a>
                      </li>
                      <li class=""><a href="/dich-vu-khach-san/">Thi công nội thất văn phòng</a>
                      </li>
                  </ul>
                  
                  
                  
              </li>
              <li class=""> <a href="/cong-ty-thanh-vien/" class=""><span style="background-image:url()">      GIỚI THIỆU             </span></a>       
                  
               
              </li>
              <li class=" "> <a href="/tin-tuc-su-kien/" class=""><span style="background-image:url()">  Cẩm nang      </span></a>
              
              
              </li>
            
            
              </ul>
              <div class="btn btndangnhap">
                  <a href="#">Đăng nhập</a> &#10072; <a href="#">Đăng ký</a>
              </div>
           </div>


           

          </div>
        </div>
      <div class="c"></div>
    </header>
    <!-- end header pc -->
    <header class="header hide-on-pc error">
      <div class="mobile-bar hide-on-pc">
        <div class="grid">
            <div class="flex-container align-center">
                <div class="cell-1-3">
                   
                    <a class="menu-mobile" href="#menu">
                      <i class="fas fa-bars"></i>
                   </a>
                   
                </div>
                <div class="cell-1-3">
                 
                  <div class="logo">
                      <a href="/">
                        <img src="/uploaded/logo/Logo_full 1.png" alt="Logo web" style="max-width: 100%; margin: 0 auto" />
                      </a>
                  </div>
                 
              </div>
            
                <div class="icon-search search-mb" >
                  <i class="fa fa-search search-iconmb" aria-hidden="true"></i>
                    <div class="frm-search-mb" style="">
                     <form action="/search/" method="get" id="searchformtab">
                        <input name="qr" class="kw-mobile" placeholder="Tìm kiếm " type="text">
                        <a href="#" class="submit-search-pc" onClick="$('#searchformtab').submit(); return false;"> 
                          <i class="fa fa-search" aria-hidden="true"></i> </a>
  
                        <a href="#" class="closeX" onClick="$('.frm-search-mb').hide(); return false;">&#10005;</a>        
                      </form>
                    </div> 
                    
                    <script>
                      $(document).ready(function () {
                      $(".search-iconmb").click(function () {
                        $(".frm-search-mb").stop().slideToggle("fast");
                        return false;
                      });
                      });
                    </script>  	
                   </div>
               
            </div>
            </div>
        </div>
        <div class="c"></div>
    </div>

    </header>
    <!-- content -->
    <div class="content" style="background: #f1f2f2;">
      
      <!-- slideshow -->
      <div class="img-poster" style="position:relative">



        <a class="" href="">
          <img class="" src="/uploaded/slideshow/Duhoc-1-re_01.png" alt="" style="width: 100%" />
        </a>
    
    
    
    
    </div>
      
   
      <!-- end slideshow -->
        <div class="grid">
            <div class="service-top">
                <div class="flex-container">
                    <div class="cell-1-4 tab-cell-1-1">
                        <a href="#" class="img-shine">
                            <img src="/uploaded/dichvu/Duhoc-1-re_07.png" alt="">
                        </a>
                    </div>
                    <div class="cell-3-4 tab-cell-1-1">
                        <div class="serviceitem-content"> 
                            <div class="serviceitem-left">
                              <h3 class="servicename">
                                  <a href="#">Trường Nhật ngữ <br>
                                    Mitsumine Career Academy - MCA
                                </a>
                              </h3>
                               
                              <div class="c10"></div>
                                <p><b> Mã công việc: </b> <span style="color: #3399cc; font-weight: 600;"> RL24289T</span></p>
                              <p><i class="far fa-clock"></i> <b>12- 36 tháng</b> </p>
                              <p><i class="fas fa-map-marker-alt"></i>  <b>Tokyo, Nhật bản</b>   </p>
                              <div class="c10"></div>   
                            </div>  
                                                  
                          </div>
                          <div class="c10"></div>
                          <div class="service-info">
                                <div class="flex-container">
<!--                                     
                                    <div class="cell-1-1 tab-cell-1-1" style="padding: 10px; background-color: #DFEBED;">
                                        <div class="serviceinfo-list">
                                            <div class="serviceinfo--item">
                                              <div class="" style="display: flex;">
                                                <div class="service-info--ico" style="padding-right:10px; color: #3399cc;">
                                                    <i class="fas fa-graduation-cap"></i> 
                                                    
                                               </div>
                                               <div class="service-inf--price">
                                                <b>Phí nhập học</b> </br>
                                                    150.000 Yên &#8776; 30 triệu VND
                                               </div>
                                              </div>
                                            </div>
                                            <div class="serviceinfo--item">
                                              <div class="" style="display: flex;">
                                                <div class="service-info--ico" style="padding-right:10px; color: #3399cc;">
                                                  <i class="fa-solid fa-users"></i>
                                               </div>
                                               <div class="service-inf--price">
                                                <b>Quy mô trường</b> </br>
                                                    150.000 sinh viên
                                               </div>
                                              </div>
                                            </div>
                                            <div class="serviceinfo--item">
                                              <div class="" style="display: flex;">
                                                <div class="service-info--ico" style="padding-right:10px; color: #3399cc;">
                                                  <i class="fa-solid fa-dollar-sign"></i>
                                                    
                                               </div>
                                               <div class="service-inf--price">
                                                <b>Học phí</b> </br>
                                                    150.000 Yên &#8776; 30 triệu VND
                                               </div>
                                              </div>
                                            </div>
                                            <div class="serviceinfo--item">
                                              <div class="" style="display: flex;">
                                                <div class="service-info--ico" style="padding-right:10px; color: #3399cc;">
                                                  <i class="fa-regular fa-user-tie"></i>
                                                    
                                               </div>
                                               <div class="service-inf--price">
                                                <b>Giáo viên(Việt Nam)</b> </br>
                                                   30 người
                                               </div>
                                              </div>
                                            </div>
                                            <div class="serviceinfo--item">
                                              <div class="" style="display: flex;">
                                                <div class="service-info--ico" style="padding-right:10px; color: #3399cc;">
                                                 
                                                  <i class="fa-regular fa-calendar-days"></i>
                                               </div>
                                               <div class="service-inf--price">
                                                <b>Kỳ nhập học</b> </br>
                                                  Tháng 1,4,6,8
                                               </div>
                                              </div>
                                            </div>

                                            <div class="serviceinfo--item">
                                              <div class="" style="display: flex;">
                                                <div class="service-info--ico" style="padding-right:10px; color: #3399cc;">
                                                  <i class="fa-regular fa-users"></i>
                                                    
                                               </div>
                                               <div class="service-inf--price">
                                                <b>Sinh viên Việt Nam</b> </br>
                                                   30%
                                               </div>
                                              </div>
                                            </div>
                                            <div class="serviceinfo--item">
                                              <div class="" style="display: flex;">
                                                <div class="service-info--ico" style="padding-right:10px; color: #3399cc;">
                                                  <i class="fa-regular fa-bed-bunk"></i>
                                               </div>
                                               <div class="service-inf--price">
                                                <b> Tiền ký túc xá</b> </br>
                                                  20.000 Yên
                                               </div>
                                              </div>
                                            </div>
                                            <div class="serviceinfo--item">
                                              <div class="" style="display: flex;">
                                                <div class="service-info--ico" style="padding-right:10px; color: #3399cc;">
                                                  <i class="fa-duotone fa-book"></i>
                                                    
                                               </div>
                                               <div class="service-inf--price">
                                                <b>Giáo trình học</b> </br>
                                                 100% chuẩn quốc tế
                                               </div>
                                              </div>
                                            </div>
                                        </div>
                                    </div> -->
                                    <div class="cell-1-1">

                                  
                                    <table style="background:#DFEBED; float: left; width: 50%; padding-left: 10px;">
                                      <tbody>
                                        <tr>
                                          <td> <img alt="" src="/uploaded/ico/dolar.png" /> <br> <br> </td>
                                          <td>
                                           <b> Lương tổng(Gross)</b>
                                            <br>
                                                 150.000 Yên 
                                                 &asymp; 30.000.000 VND 
                                          </td>
                                        
                                        </tr>
                                        <tr>
                                          <td> <img alt="" src="/uploaded/ico/pricenet.png" /> <br> <br> </td>
                                          <td>
                                          <b>Lương cứng</b>  
                                            <br>
                                                 150.000 Yên &asymp; 30.000.000 VND 
                                          </td>
                                        
                                        </tr>
                                        <tr>
                                          <td> <img alt="" src="/uploaded/ico/net.png" /> <br> <br> </td>
                                          <td>
                                        <b>  Lương về tay(Net)</b>
                                            <br>
                                            150.000 Yên &asymp; 30.000.000 VND 
                                          </td>
                                        
                                        </tr>
                                       
                                        <tr>
                                          <td> <img alt="" src="/uploaded/ico/overtime.png" /> <br> <br> </td>
                                          <td>
                                           <b>Số giờ tăng ca</b>
                                            <br>
                                               40 giờ
                                          </td>
                                        
                                        </tr>
                                        <tr>
                                          <td> <img alt="" src="/uploaded/ico/bonus.png" /> <br> <br> </td>
                                          <td>
                                           <b>Thưởng</b>
                                            <br>
                                               2 lần/năm
                                          </td>
                                        
                                        </tr>
                                       
                                      </tbody>
                                    </table>
                                    <table style="background:#DFEBED; float: left; width: 50%; padding-left: 10px;">
                                      <tbody>
                                        <tr>
                                          <td> <img alt="" src="/uploaded/ico/persons-line.png" /> <br> <br> </td>
                                          <td>
                                           <b>Số lượng cần tuyển</b>
                                            <br>
                                                 20 nam | 15 nữ
                                               
                                          </td>
                                        
                                        </tr>
                                        <tr>
                                          <td> <img alt="" src="/uploaded/ico/expenrience.png" /> <br> <br> </td>
                                          <td>
                                          <b> Yêu cầu kinh nghiệm</b>  
                                            <br>
                                              Không
                                          </td>
                                        
                                        </tr>
                                        <tr>
                                          <td> <img alt="" src="/uploaded/ico/house.png" /> <br> <br> </td>
                                          <td>
                                        <b> Thuê nhà</b>
                                            <br>
                                             20.000 Yên/tháng
                                          </td>
                                        
                                        </tr>
                                       
                                        <tr>
                                          <td> <img alt="" src="/uploaded/ico/bonus2.png" /> <br> <br> </td>
                                          <td>
                                           <b>Trợ cấp</b>
                                            <br>
                                             Đi lại ăn chưa
                                          </td>
                                        
                                        </tr>
                                        <tr>
                                          <td> <img alt="" src="/uploaded/ico/bonus3.png" /> <br> <br> </td>
                                          <td>
                                           <b>Phúc lợi</b>
                                            <br>
                                             BHXH, BHTN, BHYT
                                          </td>
                                        
                                        </tr>
                                      </tbody>
                                    </table>
                                  </div>
                                </div>
                                <div class="c30"></div>
                                <p style="text-align: justify;">
                                  Lorem ipsum dolor,sit amet consectetur adipisicing elit. Consequuntur deleniti suscipit debitis quibusdam nulla possimus ratione enim error magni, eos adipisci sed! Tempore fugiat doloremque natus ipsa ipsam, aperiam praesentium.
                                </p>
                                <div class="c30"></div>
                                <div class="flex-container flex-flex-end">
                                  <div class="tuvan">
                                    <a href="#" class=""> <i class="fa-regular fa-user-headset"></i>  Tư vấn trực tiếp</a>
                                  </div>
                                   
                                    <div class="upload">
                                      <a href="#"> <i class="fas fa-briefcase"></i> Ứng tuyển ngay</a>
                                  </div>
                                  <div class="save">
                                    <a href="#"><i class="far fa-heart"></i> Lưu tin</a>
                                  </div>
                                  <div class="share">
                                    <a href="#"><i class="fa-regular fa-share-nodes"></i></a>
                                  </div>
                                </div>
                            
                          </div>
                         
                    </div>
                </div>
            </div>
            <div class="c30"></div>
            <div class="service-content">
              <div class="title-page">
                THÔNG TIN CƠ BẢN VỀ TRƯỜNG NHẬT NGỮ <br>
                MITSUMINE CAREER ACADEMY - MCA
              </div>
              <div class="c10"></div>
              Trường Nhật ngữ Mitsumine Career Academy (MCA) được thành lập vào năm 1988 với hơn 30 năm đào tạo với số lượng 700 học sinh/ năm, là một trong những trường được đánh giá có chất lượng đào tạo tốt nhất ở Tokyo. Trường nằm ở quận Shinjuku – khu vực trung tâm kinh tế chính trị của Tokyo thủ đô Tokyo của Nhật Bản. Trường MCA thuộc cùng một tập đoàn với trường Nhật ngữ Meric- một trong những trường nổi tiếng nhất ở khu vực Kansai.
              <br>
              <ul style="padding-left: 40px;">
                  <li>Tên tiếng Anh: Mitsumine Career Academy Japanese Language Course</li>
                  <li>
                    Tên tiếng Nhật:
                  </li>
                  <li>
                    Địa chỉ: Dai3 Yamahiro Bldg. Kitashinnjuku, Shinjuku-ku, Tokyo, Japan 169-0074
                  </li>
                  <li>
                    Điện thoại: +81-3-5332-9332
                  </li>
                  <li>
                    Fax: +81-3-5332-9331
                  </li>
                  <li>
                    E-Mail: info@mcaschool.jp
                  </li>
                  <li>
                    Website: http://www.mcaschool.jp
                  </li>
              </ul>
              <div class="c30"></div>
                <hr style="border-bottom:1px solid #037c94">
              <div class="c30"></div>
              <div class="title-page">
                Tổng quan
              </div>
              <div class="c10"></div>
              Trường Nhật ngữ Mitsumine Career Academy (MCA) được thành lập vào năm 1988 với hơn 30 năm đào tạo với số lượng 700 học sinh/ năm, là một trong những trường được đánh giá có chất lượng đào tạo tốt nhất ở Tokyo. Trường nằm ở quận Shinjuku – khu vực trung tâm kinh tế chính trị của Tokyo thủ đô Tokyo của Nhật Bản. Trường MCA thuộc cùng một tập đoàn với trường Nhật ngữ Meric- một trong những trường nổi tiếng nhất ở khu vực Kansai.
              <br>
              <ul style="padding-left: 40px;">
                  <li>Tên tiếng Anh: Mitsumine Career Academy Japanese Language Course</li>
                  <li>
                    Tên tiếng Nhật:
                  </li>
                  <li>
                    Địa chỉ: Dai3 Yamahiro Bldg. Kitashinnjuku, Shinjuku-ku, Tokyo, Japan 169-0074
                  </li>
                  <li>
                    Điện thoại: +81-3-5332-9332
                  </li>
                  <li>
                    Fax: +81-3-5332-9331
                  </li>
                  <li>
                    E-Mail: info@mcaschool.jp
                  </li>
                  <li>
                    Website: http://www.mcaschool.jp
                  </li>
              </ul>
              <div class="c30"></div>
              <hr style="border-bottom:1px solid #037c94">
              <div class="c30"></div>
              <div class="title-page">
                Hình ảnh
              </div>
              <div class="c20"></div>
                <div class="galleries-service">
                  <div class="swiper-container slider-homenews">
                    <div class="swiper-wrapper">
                      <div class="swiper-slide">
                        <div class="homenews-item">
                          <a href="#" class="">
                            <img src="/uploaded/galleries/item1.png" alt="">
                          </a>
                         
                        </div>
                      </div>
                      <div class="swiper-slide">
                        <div class="homenews-item">
                          <a href="#" class="">
                            <img src="/uploaded/galleries/item2.png" alt="">
                          </a>
                         
                        </div>
                      </div>
                      <div class="swiper-slide">
                        <div class="homenews-item">
                          <a href="#" class="">
                            <img src="/uploaded/galleries/item3.png" alt="">
                          </a>
                       
                      </div>
                      </div>
                      <div class="swiper-slide">
                        <div class="homenews-item">
                          <a href="#" class="">
                            <img src="/uploaded/galleries/item2.png" alt="">
                          </a>
                         
                        </div>
                      </div>
                      <div class="swiper-slide"> 
                        <div class="homenews-item">
                          <a href="#" class="">
                            <img src="/uploaded/galleries/item1.png" alt="">
                          </a>
                         
                        </div>
                      </div>
                      <div class="swiper-slide">
                        <div class="homenews-item">
                          <a href="#" class="">
                            <img src="/uploaded/galleries/item3.png" alt="">
                          </a>
                          
                        </div>
                      </div>
                      
                    </div>
                  
                  </div>
                  <div class="homenews-button-next"><i class="fas fa-chevron-right"></i></div>
                  <div class="homenews-button-prev"><i class="fas fa-chevron-left"></i></div>
                  <script>
                    $(function () {
                      var slideproduct = new Swiper(".slider-homenews", {
                  
                      loop: true,
                     
                    
                      spaceBetween: 20,
                      autoplay:true,
                      pagination: {
                        
                        clickable: true,
                      },
                      navigation: {
                              nextEl: '.homenews-button-next',
                              prevEl: '.homenews-button-prev'
                          },
                      breakpoints: {
                            // when window width is >= 320px
                            320: {
                              slidesPerView: 1,
                              spaceBetween: 20
                            },
                            // when window width is >= 480px
                            768: {
                              slidesPerView: 2.5,
                              spaceBetween: 30
                            },
                            // when window width is >= 640px
                            1040: {
                              slidesPerView: 3,
                              spaceBetween: 40
                            },
                            1600: {
                              slidesPerView: 3,
                              spaceBetween: 20
                            }
                          }
                        })
                    
            
                    });
                  </script>
                </div>
              
               <div class="c30"></div>
              <div class="flex-container flex-flex-end">
                <div class="tuvan">
                  <a href="#" class=""> <i class="fa-regular fa-user-headset"></i>  Tư vấn trực tiếp</a>
                </div>
                 
                  <div class="upload">
                    <a href="#"> <i class="fas fa-briefcase"></i> Ứng tuyển ngay</a>
                </div>
                <div class="save">
                  <a href="#"><i class="far fa-heart"></i> Lưu tin</a>
                </div>
                <div class="share">
                  <a href="#"><i class="fa-regular fa-share-nodes"></i></a>
                </div>
              </div>
              <div class="c30"></div>
            </div>
      </div>
          <div class="c30"></div>

          <div class="homeservice-wrapper">
            <div class="c30"></div>
            <div class="c20 hide-on-mobile"></div>
              <div class="grid">
                <div class="homecat-title">
                  Việc làm Liên quan
              </div>
              <div class="c20"></div>
              <div class="flex-container">
                  <div class="cell-1-2 tab-cell-1-1">
                    <div class="homeservice-item align-center">
                          <div class="cell-1-3 homeservice-item-image">
                              <a href="#"> <img src="/uploaded/dichvu/item1.png" alt=""></a>
                          </div>
                          <div class="cell-2-3 homeservice-item-content">
                              <h3 class="homeservice-item-name">
                                  <a href="#">Điều dưỡng - Chiba Shi</a>
                              </h3>
                              <div class="c10"></div>
                              <p><i class="far fa-user"></i> Y tế</p>
                              <p><i class="fas fa-map-marker-alt"></i>  Tokyo, Nhật bản</p>
                              <div class="c5"></div>
                              <hr>
                              <div class="c5"></div>
                              <div class="text-line-3" style="font-size: 14px;">
                                Lorem ipsum dolor, sit amet consectetur adipisicing elit. Tempora incidunt, consequuntur consequatur pariatur modi debitis iste, sapiente, soluta in doloremque asperiores sint. Odit aliquam perspiciatis numquam exercitationem consequatur in fugit.
                              </div>
                              <div class="c5"></div>
                              <div class="homeservice-price">
                                <div class="icon-price">
                                  <i class="fas fa-check-circle"></i>  &#8776;
                                </div>
                                <div class="price">
                                  <span>84.000.000</span>VND/tháng <br>
                                  <small> 350.000 JPY/tháng</small>
                                </div>
                              </p>
  
                          </div>
                      </div>
                    </div>
                  </div>
                  <div class="cell-1-2 tab-cell-1-1">
                    <div class="homeservice-item align-center">
                          <div class="cell-1-3 homeservice-item-image">
                              <a href="#"> <img src="/uploaded/dichvu/item2.png" alt=""></a>
                          </div>
                          <div class="cell-2-3 homeservice-item-content">
                              <h3 class="homeservice-item-name">
                                  <a href="#">Điều dưỡng - Chiba Shi</a>
                              </h3>
                              <div class="c10"></div>
                              <p><i class="far fa-user"></i> Y tế</p>
                              <p><i class="fas fa-map-marker-alt"></i>  Tokyo, Nhật bản</p>
                              <div class="c5"></div>
                              <hr>
                              <div class="c5"></div>
                              <div class="text-line-3" style="font-size: 14px;">
                                Lorem ipsum dolor, sit amet consectetur adipisicing elit. Tempora incidunt, consequuntur consequatur pariatur modi debitis iste, sapiente, soluta in doloremque asperiores sint. Odit aliquam perspiciatis numquam exercitationem consequatur in fugit.
                              </div>
                              <div class="c5"></div>
                              <div class="homeservice-price">
                                <div class="icon-price">
                                  <i class="fas fa-check-circle"></i>  &#8776;
                                </div>
                                <div class="price">
                                  <span>84.000.000</span>VND/tháng <br>
                                  <small> 350.000 JPY/tháng</small>
                                </div>
                              </p>
  
                          </div>
                      </div>
                    </div>
                  </div>
                  <div class="cell-1-2 tab-cell-1-1">
                    <div class="homeservice-item align-center">
                          <div class="cell-1-3 homeservice-item-image">
                              <a href="#"> <img src="/uploaded/dichvu/item1.png" alt=""></a>
                          </div>
                          <div class="cell-2-3 homeservice-item-content">
                              <h3 class="homeservice-item-name">
                                  <a href="#">Điều dưỡng - Chiba Shi</a>
                              </h3>
                              <div class="c10"></div>
                              <p><i class="far fa-user"></i> Y tế</p>
                              <p><i class="fas fa-map-marker-alt"></i>  Tokyo, Nhật bản</p>
                              <div class="c5"></div>
                              <hr>
                              <div class="c5"></div>
                              <div class="text-line-3" style="font-size: 14px;">
                                Lorem ipsum dolor, sit amet consectetur adipisicing elit. Tempora incidunt, consequuntur consequatur pariatur modi debitis iste, sapiente, soluta in doloremque asperiores sint. Odit aliquam perspiciatis numquam exercitationem consequatur in fugit.
                              </div>
                              <div class="c5"></div>
                              <div class="homeservice-price">
                                <div class="icon-price">
                                  <i class="fas fa-check-circle"></i>  &#8776;
                                </div>
                                <div class="price">
                                  <span>84.000.000</span>VND/tháng <br>
                                  <small> 350.000 JPY/tháng</small>
                                </div>
                              </p>
  
                          </div>
                      </div>
                    </div>
                  </div>
                  <div class="cell-1-2 tab-cell-1-1">
                    <div class="homeservice-item align-center">
                          <div class="cell-1-3 homeservice-item-image">
                              <a href="#"> <img src="/uploaded/dichvu/item2.png" alt=""></a>
                          </div>
                          <div class="cell-2-3 homeservice-item-content">
                              <h3 class="homeservice-item-name">
                                  <a href="#">Điều dưỡng - Chiba Shi</a>
                              </h3>
                              <div class="c10"></div>
                              <p><i class="far fa-user"></i> Y tế</p>
                              <p><i class="fas fa-map-marker-alt"></i>  Tokyo, Nhật bản</p>
                              <div class="c5"></div>
                              <hr>
                              <div class="c5"></div>
                              <div class="text-line-3" style="font-size: 14px;">
                                Lorem ipsum dolor, sit amet consectetur adipisicing elit. Tempora incidunt, consequuntur consequatur pariatur modi debitis iste, sapiente, soluta in doloremque asperiores sint. Odit aliquam perspiciatis numquam exercitationem consequatur in fugit.
                              </div>
                              <div class="c5"></div>
                              <div class="homeservice-price">
                                <div class="icon-price">
                                  <i class="fas fa-check-circle"></i>  &#8776;
                                </div>
                                <div class="price">
                                  <span>84.000.000</span>VND/tháng <br>
                                  <small> 350.000 JPY/tháng</small>
                                </div>
                              </p>
  
                          </div>
                      </div>
                    </div>
                  </div>
  
  
              </div>
              <div class="c30"></div>
            <div class="c20 hide-on-mobile"></div>
        </div>
        </div>
    <!-- end content -->

</div>
    <div class="c"></div>

    <!-- footer -->
   <footer class="footer">
      
        <div class="c30"></div>
      <div class="footer-main">
        <div class="grid">

          <div class="flex-container">
            <div class="cell-1-4 tab-cell-1-1">
              <div class="c30"></div>
                <a href="#">
                    <img src="/uploaded/logo/logo.png" alt="">
                </a>
                <div class="c20"></div>
                <h2 class="footer-title">CÔNG TY CỔ PHẦN RELINES GLOBAL</h2>
              
                <ul class="footer-social">
            
                  <li class="facebook  hvr-float">
                    <a href="https://www.facebook.com/hocbongvnu" class="footer-social__item">
                      <i class="fab fa-facebook-f"></i>
                    </a>
                  </li>
                  <li class="youtube  hvr-float">
                    <a href="#" class="footer-social__item">
                      <i class="fab fa-youtube"></i>
                    </a>
                  </li>
                 
                  <li class="instagram  hvr-float">
                    <a href="" class="footer-social__item">
                      <i class="fab fa-twitter"></i>
                    </a>
                  </li>
                 
                </ul>
               
            </div>
            <div class="cell-1-4 tab-cell-1-1">
              <div class="footer-block">
              <div class="footer-title footer-title-mobile" rel="ct">
                 liên hệ
              </div>
             
                <div class="info">
                  Trụ sở: Số 14-16, ngõ 254 Đường Bưởi.
                  P. Cống Vị Quận Ba Đình, Hà Nội
                </div>
                <div class="info">
                  <b>Điện thoại:</b> 0869 066 288 
                 
              </div>
              <div class="info">
                <b> Email:</b>info@relinesglobal.com
            </div>

              </div>
          </div>
            <div class="cell-1-4 tab-cell-1-1">
              <div class="footer-block">
                  


              <div class="c5 hide-on-tab"></div>

              <ul class="menuboxfooter" id="boxcol5">
              <li><a href="/gioi-thieu-chung/"> Giới thiệu chung</a></li>
              <li><a href="/tam-nhin-chien-luoc/"> Tầm nhìn chiến lược </a></li>
              <li><a href="/gia-tri-cot-loi/"> Giá trị cốt lõi</a></li>
              </ul>
              <div class="c10"></div>

              </div>

          </div>
          
            <div class="footer-block">
              <div class="footer-title footer-title-mobile" rel="ct">
                  Đăng ký nhận tin
              </div>
            
              <form action="" method="post" class="sendmail__frm">

                <input type="text" name="newsletter" class="sendmail__input" placeholder="Email của bạn">

                <button type="submit" name="addnewsletter" value="save" class="sendmail__btn">
                  Đăng Ký
                </button>
              </form>

            </div>
              
            
        </div>
  
        <div class="footer-copyright">
          <div class="grid">
            Copyright © 2023 Relines
          </div>
        </div>
           
        </div>
      </div>

     
    </footer>
    <!-- end footer -->
</div>


  <link rel="stylesheet" href="/css/jquery.fancybox.css" />
  <script src="/js/jquery.fancybox.js"></script>
  <link rel="stylesheet" href="/css/hover.css" />
  
</body>

</html>
